<!DOCTYPE html>
<div class="ngdialog-message ngdialog-advertencia"md-theme="docs-dark">
    <md-toolbar class="md-accent">
        <div class="md-toolbar-tools">
            <h3 class="modal-title" style="width: 100%; text-align: center;">ADVERTENCIA</h3>
        </div>
    </md-toolbar>
    <md-content flex>
        <md-content class="md-padding" flex>
            <md-whiteframe class="md-whiteframe-24dp"
                           style="min-height: 250px;"                           
                           layout layout-align="center center">
                <form style="text-align: center;">
                    <div flex class="md-padding">
                        <span style="font-size: medium; font-weight: bold;">Para poder distribuir estos productos debes finalizar la carga primero.</span>
                    </div>
                    <button class="btn btn-md btn-danger"
                ng-click="closeThisDialog('')">Cerrar</button>
                </form>
            </md-whiteframe>
        </md-content>
    </md-content>
</div>