<!DOCTYPE html>
<div class="ngdialog-message ngdialog-advertencia"  md-theme="docs-dark">
    <md-toolbar class="md-accent" md-theme="docs-dark">
        <div class="md-toolbar-tools">
            <h3 class="modal-title" style="width: 100%; text-align: center;">{{modalProducto.descripcion}}</h3>
        </div>
    </md-toolbar>
    <md-content flex>
        <md-content class="md-padding" flex>
            <form name="distribuir">
                <div flex style="text-align: center;">                
                    <label flex style="font-size: medium;">En almacen: {{modalProducto.cantidadTotal}}</label>
                </div>
                <div flex style="text-align: center;">
                    <label flex style="font-size: medium;">A distribuir: {{modalDistribuir.tierra + modalDistribuir.bebelandia + modalDistribuir.libertador}}</label>
                </div>
                <md-input-container class="md-block" flex>
                    <label>Tierra de colores</label>
                    <input ng-model="modalDistribuir.tierra"
                           maxlength="2"
                           min="0"
                           type="number"
                           placeholder="Cantidad a distribuir a Tierra de colores"
                           name="tierra"/>
                </md-input-container>
                <md-input-container class="md-block" flex>
                    <label>Bebelandia</label>
                    <input ng-model="modalDistribuir.bebelandia"
                           maxlengh="2"
                           min="0"
                           type="number"
                           placeholder="Cantidad a distribuir a Bebelandia"
                           name="bebelandia"/>
                </md-input-container>
                <md-input-container class="md-block" flex>
                    <label>Libertador</label>
                    <input ng-model="modalDistribuir.libertador"
                           maxlengh="2"
                           min="0"
                           type="number"
                           placeholder="Cantidad a distribuir a Libertador"
                           name="libertador"/>
                </md-input-container>            
                <div flex style="text-align: center;">
                    <button class="btn btn-success"
                            ng-click="confirmarDistribuir(modalDistribuir)">Distribuir</button>
                </div>
            </form>
        </md-content>
    </md-content>
    <md-content flex class="md-padding">
        <button class="btn btn-md btn-danger pull-right"
                ng-click="closeThisDialog('')">Cerrar</button>
    </md-content>
</div>