<!DOCTYPE html>
<div ng-cloak style="width: 100%;"
     md-theme="header"
     onmousedown="return false">
    <md-toolbar class="md-menu-toolbar">
        <div layout="row" ng-controller="NavbarController as navbar">
            <center ng-bind="title" ng-cloak class="title-page">Titulo</center>
            <button class="settingbtn" ng-click="navbar.changeSettings($event)">
                <md-tooltip md-direction="bottom">
                    Ajustes
                </md-tooltip>
                <md-icon class="material-icons">&#xE8B8;</md-icon>
            </button>
            <button class="back" ng-click="navbar.goBack()">
                <md-tooltip md-direction="bottom">
                    Atras
                </md-tooltip>
                <md-icon class="material-icons">&#xE166;</md-icon>
            </button>
            <button class="update" ng-click="navbar.reloadPage()">
                <md-tooltip md-direction="bottom">
                    Recargar aplicación
                </md-tooltip>
                <md-icon class="material-icons">&#xE5D5;</md-icon>
            </button>
            <button class="homebtn" ui-sref="home">
                <md-tooltip md-direction="bottom">
                    Inicio
                </md-tooltip>
                <md-icon class="material-icons">&#xE88A;</md-icon>
            </button>
            <button class="quit" ng-click="navbar.logoutApp()" id="quit">
                <md-tooltip md-direction="bottom">
                    Cerrar sesión y salir
                </md-tooltip>
                <md-icon class="material-icons">&#xE14C;</md-icon>
            </button>
            <div>
                <a style="padding-left: 45px;" class="navbar-brand" href="#/home" id="nav-titulo">Tierra de colores</a>
                <md-menu-bar>
                    <md-menu>
                        <button ng-click="$mdOpenMenu()">
                            Perfil
                        </button>
                        <md-menu-content class="menu-content">
                            <md-menu-item class="md-indent">
                                <md-icon class="material-icons">&#xE7FD;</md-icon>
                                <md-button ui-sref="perfil">
                                    Ver mi perfil
                                    <span class="md-alt-text"> {{ 'M-P' | keyboardShortcut }}</span>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item class="md-indent">
                                <md-icon class="material-icons">&#xE3C9;</md-icon>
                                <md-button ui-sref="modificar-perfil">
                                    Modificar mi perfil                                    
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                    <md-menu>
                        <button ng-click="$mdOpenMenu()">
                            Usuarios                            
                        </button>
                        <md-menu-content class="menu-content">
                            <md-menu-item class="md-indent">
                                <md-icon class="material-icons">&#xE896;</md-icon>
                                <md-button ui-sref="usuarios">
                                    Lista de usuarios
                                    <span class="md-alt-text"> {{ 'M-L' | keyboardShortcut }}</span>
                                </md-button>
                            </md-menu-item>                     
                            <md-menu-item class="md-indent">
                                <md-icon class="material-icons">&#xE7FE;</md-icon>
                                <md-button ui-sref="add_usuario">
                                    Agregar nuevo usuario
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                    <md-menu>
                        <button ng-click="$mdOpenMenu()">
                            Finanzas
                        </button>
                        <md-menu-content class="menu-content">
                            <md-menu-item class="md-indent">
                                <md-icon class="material-icons">&#xE84F;</md-icon>
                                <md-button ui-sref="bancos">
                                    Bancos
                                    <span class="md-alt-text"> {{ 'M-B' | keyboardShortcut }}</span>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item class="md-indent">
                                <md-icon class="material-icons">&#xE870;</md-icon>
                                <md-button ui-sref="tarjetas">
                                    Tarjetas
                                    <span class="md-alt-text"> {{ 'M-T' | keyboardShortcut }}</span>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item class="md-indent">
                                <md-icon class="material-icons">&#xE263;</md-icon>
                                <md-button ui-sref="pagos">
                                    Planes de pago
                                    <span class="md-alt-text"> {{ 'M-Y' | keyboardShortcut }}</span>
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                    <md-menu>
                        <button ng-click="$mdOpenMenu()">
                            Inventario
                        </button>
                        <md-menu-content class="menu-content">
                            <md-menu-item class="md-indent">
                                <md-icon class="material-icons">&#xE8D1;</md-icon>
                                <md-menu>
                                    <md-button ng-click="$mdOpenMenu()" style="font-weight: bold;">
                                        Productos                                        
                                    </md-button>
                                    <md-menu-content class="menu-content">
                                        <md-menu-item class="md-indent">
                                            <md-icon class="material-icons">&#xE8B0;</md-icon>
                                            <md-button ui-sref="productos">
                                                Productos / Facturas
                                                <span class="md-alt-text"> {{ 'M-S' | keyboardShortcut }}</span>
                                            </md-button>
                                        </md-menu-item>
                                        <md-menu-item class="md-indent">
                                            <md-icon class="material-icons">&#xE0B6;</md-icon>
                                            <md-button ui-sref="distribucion">
                                                Distribución
                                                <span class="md-alt-text"> {{ 'M-D' | keyboardShortcut }}</span>
                                            </md-button>
                                        </md-menu-item>
                                        <md-menu-item class="md-indent">
                                            <md-icon class="material-icons">&#xE8B6;</md-icon>
                                            <md-button ui-sref="busqueda_producto">
                                                Busqueda
                                                <span class="md-alt-text"> {{ 'A-F' | keyboardShortcut }}</span>
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                            </md-menu-item>
                            <md-menu-item class="md-indent">
                                <md-icon class="material-icons">&#xE8D1;</md-icon>
                                <md-menu>
                                    <md-button ng-click="$mdOpenMenu()"style="font-weight: bold;">
                                        Stock
                                    </md-button>
                                    <md-menu-content class="menu-content">
                                        <md-menu-item class="md-indent">
                                            <md-icon class="material-icons">&#xE86E;</md-icon>
                                            <md-button ui-sref="categorias">
                                                Categorias
                                                <span class="md-alt-text"> {{ 'M-K' | keyboardShortcut }}</span>
                                            </md-button>
                                        </md-menu-item>
                                        <md-menu-item class="md-indent">
                                            <md-icon class="material-icons">&#xE06B;</md-icon>
                                            <md-button ui-sref="marcas">
                                                Marcas
                                                <span class="md-alt-text"> {{ 'M-N' | keyboardShortcut }}</span>
                                            </md-button>
                                        </md-menu-item>
                                        <md-menu-item class="md-indent">
                                            <md-icon class="material-icons">&#xE252;</md-icon>
                                            <md-button ui-sref="tipos">                                            
                                                Tipo de Productos
                                                <span class="md-alt-text"> {{ 'M-J' | keyboardShortcut }}</span>
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                            </md-menu-item>
                            <md-menu-divider style="background-color: rgb(250,250,250);"></md-menu-divider>
                            <md-menu-item class="md-indent">
                                <md-icon class="material-icons">&#xE0AF;</md-icon>
                                <md-button ui-sref="proveedores">
                                    Proveedores
                                    <span class="md-alt-text"> {{ 'S-P' | keyboardShortcut }}</span>
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                    <md-menu>
                        <button ng-click="$mdOpenMenu()">
                            Facturacion
                        </button>
                        <md-menu-content class="menu-content">
                            <md-menu-item class="md-indent">
                                <md-icon class="material-icons">&#xE8CC;</md-icon>
                                <md-button ui-sref="facturas">
                                    Facturas / Reservas
                                    <span class="md-alt-text"> {{ 'S-F' | keyboardShortcut }}</span>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item class="md-indent">
                                <md-icon class="material-icons">&#xE8B3;</md-icon>
                                <md-button ui-sref="nota_credito">
                                    Notas de credito
                                    <span class="md-alt-text"> {{ 'S-N' | keyboardShortcut }}</span>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item class="md-indent">
                                <md-icon class="material-icons">&#xE572;</md-icon>
                                <md-button ui-sref="transferencias">
                                    Transferencias
                                    <span class="md-alt-text"> {{ 'S-T' | keyboardShortcut }}</span>
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                    <md-menu ng-hide="true">
                        <button ng-click="$mdOpenMenu()">
                            Estadisticas
                        </button>
                        <md-menu-content class="menu-content">
                            <md-menu-item class="md-indent">
                                <md-icon class="material-icons">&#xE8E5;</md-icon>
                                <md-button>
                                    Tierra de colores
                                </md-button>
                            </md-menu-item>                           
                            <md-menu-item class="md-indent">
                                <md-icon class="material-icons">&#xE8E5;</md-icon>
                                <md-button>
                                    Bebelandia
                                </md-button>
                            </md-menu-item>                           
                        </md-menu-content>
                    </md-menu>
                </md-menu-bar>
            </div>
        </div>
    </md-toolbar>
</div>
<toaster-container toaster-options="{'time-out': 3000, 'close-button':true, 'animation-class': 'toast-top-center'}"></toaster-container>