<!DOCTYPE html>
<div ng-cloak style="width: 100%;"
     md-theme="header"
     onmousedown="return false">
    <md-toolbar class="md-menu-toolbar">
        <div layout="row" ng-controller="NavbarController as navbar">
            <center ng-bind="title" ng-cloak class="title-page">Titulo</center>
            <button class="settingbtn" ng-click="navbar.changeSettings($event)">
                <md-tooltip md-direction="bottom" >
                    Ajustes
                </md-tooltip>
                <md-icon class="material-icons">&#xE8B8;</md-icon>
            </button>
            <button class="back" ng-click="navbar.goBack()">
                <md-tooltip md-direction="bottom" >
                    Atras
                </md-tooltip>
                <md-icon class="material-icons">&#xE166;</md-icon>
            </button>
            <button class="update" ng-click="navbar.reloadPage()">
                <md-tooltip md-direction="bottom" >
                    Recargar aplicación
                </md-tooltip>
                <md-icon class="material-icons">&#xE5D5;</md-icon>
            </button>
            <button class="homebtn" ui-sref="home">
                <md-tooltip md-direction="bottom" >
                    Inicio
                </md-tooltip>
                <md-icon class="material-icons">&#xE88A;</md-icon>
            </button>
            <button class="quit" ng-click="navbar.logoutApp()" id="quit">
                <md-tooltip md-direction="bottom" >
                    Cerrar sesión y salir
                </md-tooltip>
                <md-icon class="material-icons">&#xE14C;</md-icon>
            </button>
            <div>
                <a style="padding-left: 45px;" class="navbar-brand" href="#/home" id="nav-titulo">Tierra de colores</a>
                <md-menu-bar>
                    <md-menu>
                        <button ng-click="$mdOpenMenu()">
                            Perfil
                        </button>
                        <md-menu-content class="menu-content">
                            <md-menu-item class="md-indent">
                                <md-icon class="material-icons">&#xE7FD;</md-icon>
                                <md-button ui-sref="perfil">
                                    Ver mi perfil
                                    <span class="md-alt-text"> {{ 'M-P' | keyboardShortcut }}</span>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item class="md-indent">
                                <md-icon class="material-icons">&#xE3C9;</md-icon>
                                <md-button ui-sref="modificar-perfil">
                                    Modificar mi perfil
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                    <md-menu>
                        <button ng-click="$mdOpenMenu()">
                            Facturacion
                        </button>
                         <md-menu-content class="menu-content">
                            <md-menu-item class="md-indent">
                                <md-icon class="material-icons">&#xE8CC;</md-icon>
                                <md-button ui-sref="facturas">
                                    Facturas / Reservas
                                    <span class="md-alt-text"> {{ 'S-F' | keyboardShortcut }}</span>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item class="md-indent">
                                <md-icon class="material-icons">&#xE8B3;</md-icon>
                                <md-button ui-sref="nota_credito">
                                    Notas de credito
                                    <span class="md-alt-text"> {{ 'S-N' | keyboardShortcut }}</span>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item class="md-indent">
                                <md-icon class="material-icons">&#xE572;</md-icon>
                                <md-button ui-sref="transferencias">
                                    Transferencias
                                    <span class="md-alt-text"> {{ 'S-T' | keyboardShortcut }}</span>
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </md-menu-bar>
            </div>
        </div>
    </md-toolbar>
</div>
<toaster-container toaster-options="{'time-out': 3000, 'close-button':true, 'animation-class': 'toast-top-center'}"></toaster-container>
