<!DOCTYPE html>
<div>   

    <center style=" margin-top: 100px;">
        <h1 id="tituloInicio">Bienvenido/a al Sistema de tierra de colores</h1>
    </center>    

    <div layout="column" ng-cloak>
        <md-toolbar class="md-warn" md-theme="greenTheme">
            <div class="md-toolbar-tools">
                <h2 class="md-flex">Toolbar: md-warn</h2>
            </div>
        </md-toolbar>
        <md-content flex layout-padding md-theme="docs-dark">
            <form name="userForm">
                <md-input-container>
                    <label>Last Name</label>
                    <input name="lastName" ng-model="lastName" required md-maxlength="10" minlength="4">
                    <div ng-messages="userForm.lastName.$error" ng-show="userForm.lastName.$dirty">
                        <div ng-message="required">This is required!</div>
                        <div ng-message="md-maxlength">That's too long!</div>
                        <div ng-message="minlength">That's too short!</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>Biography</label>
                    <textarea name="bio" ng-model="biography" required md-maxlength="150"></textarea>
                    <div ng-messages="userForm.bio.$error" ng-show="userForm.bio.$dirty">
                        <div ng-message="required">This is required!</div>
                        <div ng-message="md-maxlength">That's too long!</div>
                    </div>
                </md-input-container>
            </form>
            <md-button class="md-raised md-primary lighter">Click me</md-button>
            <md-button class="md-raised md-accent md-hue-2 lighter">Click me</md-button>
        </md-content>
    </div>
    <div ng-controller="AppCtrl" layout="column" style="height:200px;" ng-cloak>
        <section layout="row" flex>
            <md-content flex layout-padding>
                <div layout="column" layout-fill layout-align="top center">
                    <p>
                        The left sidenav will 'lock open' on a medium (>=960px wide) device.
                    </p>
                    <p>
                        The right sidenav will focus on a specific child element.
                    </p>
                    <div>
                        <md-button ng-click="toggleRight()"
                                   ng-hide="isOpenRight()"
                                   class="md-primary">
                            Toggle right
                        </md-button>
                    </div>
                </div>
                <div flex></div>
            </md-content>
            <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">
                <md-toolbar class="md-theme-light">
                    <h1 class="md-toolbar-tools">Sidenav Right</h1>
                </md-toolbar>
                <md-content ng-controller="RightCtrl" layout-padding>
                    <form>
                        <md-input-container>
                            <label for="testInput">Test input</label>
                            <input type="text" id="testInput"
                                   ng-model="data" md-autofocus>
                        </md-input-container>
                    </form>
                    <md-button ng-click="close()" class="md-primary">
                        Close Sidenav Right
                    </md-button>
                </md-content>
            </md-sidenav>
        </section>
    </div>


</div>


