<!DOCTYPE html>
<div layout="row"
     layout-align="center"
     layout-xs="row">
    <div ng-show="foundProveedor"
         flex-lg="70"
         flex-md="90"
         layout="column"
         layout-xs="column" md-theme="docs-dark"
         data-ng-init="vm.buscarProveedor()">
        <md-toolbar class="md-accent" md-theme="docs-dark">
            <div class="md-toolbar-tools">
                <h4 class="md-flex" style="width:100%;">
                    Detalles de Proveedor # {{foundProveedor.idProveedor}}                
                    <a href=""
                       ng-click="vm.modificarProveedor(foundProveedor)"
                       style="color: inherit; float: right;">Editar</a>
                </h4>
            </div>
        </md-toolbar>
        <md-content flex layout="row" md-theme="docs-dark">
            <div flex="25"></div>
            <form class="md-padding" flex="50">
                <div layout="row" class="padd">
                    <label flex>Proveedor</label>                
                    <div flex>{{::foundProveedor.nombreProveedor}}</div>
                </div>
                <div layout="row" class="padd">
                    <label flex>C.U.I.T.</label>
                    <div flex>{{::foundProveedor.cuitProveedor}}</div>  
                </div>
                <div layout="row" class="padd">
                    <label flex>Direccion</label>            
                    <div flex>{{::foundProveedor.direccionProveedor}}</div>
                </div>
                <div layout="row" class="padd">
                    <label flex>Pais</label>
                    <div flex>{{::foundProveedor.paisProveedor}}</div>
                </div>
                <div layout="row" class="padd">
                    <label flex>Provincia</label>
                    <div flex>{{::foundProveedor.provinciaProveedor}}</div>
                </div>
                <div layout="row" class="padd">
                    <label flex>Localidad</label>
                    <div flex>{{::foundProveedor.localidadProveedor}}</div>
                </div>
                <div layout="row" class="padd">
                    <label flex>Codigo postal</label>
                    <div flex>{{::foundProveedor.codigoPostal}}</div>
                </div>
                <div layout="row" class="padd">
                    <label flex>Telefono</label>
                    <div flex>{{::foundProveedor.telefonoProveedor|tel}}</div>
                </div>                    
                <div layout="row" class="padd">
                    <label flex>E-mail</label>
                    <div flex>{{::foundProveedor.emailProveedor}}</div>
                </div>                    
                <div layout="row" class="padd">
                    <label flex>Fecha de registro</label>
                    <div flex>{{::foundProveedor.fechaCreacion}}</div>
                </div>           
            </form>
        </md-content>        
    </div>
</div>
