<!DOCTYPE html>
<div class="col-lg-12">
    <div class="distribucion-panel">
        <div ng-cloak>
            <md-content md-theme="docs-dark" style="min-height: 598px;">
                <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab label="Categorias">
                        <md-content class="md-padding" layout="row" flex>
                            <div class="table-responsive" flex>
                                <table data-ng-init="listaCategorias()"
                                       ng-table="tableCategorias"
                                       class="table table-striped table-hover table-condensed light-table">
                                    <thead id="headTableProductos">
                                        <tr>
                                            <th style="text-align: center">ID</th>
                                            <th style="text-align: center">Nombre</th>
                                            <th style="text-align: center">Tipo de producto</th>
                                            <th style="text-align: center">Fecha creación</th> 
                                            <th style="text-align: center" ng-hide="edit">Acciones</th> 
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="categoria in $data">
                                            <th style="text-align: center">{{::categoria.idCategoria}}</th>
                                            <th style="text-align: center">{{::categoria.nombreCategoria}}</th>                     
                                            <th style="text-align: center">{{::categoria.tipoCategoria.nombreTipo}}</th>                     
                                            <th style="text-align: center">{{::categoria.fechaCreacion}}</th>                        
                                            <th style="text-align: center" ng-hide="edit">
                                                <button type="button"                                     
                                                        class="btn btn-xs btn-info"
                                                        ng-click="hidePanelCategoria(categoria)">
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                </button>
                                                <button type="button"
                                                        class="btn btn-xs btn-danger" 
                                                        ng-click="eliminarCategoria(categoria)">
                                                    <span class="glyphicon glyphicon-trash"></span></button>
                                            </th>                        
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div flex="45" ng-hide="panelCategoriaEdit" class="show-hide">
                                <p flex style="text-align: center; font-weight: bold">
                                    Modificar Categoria #{{editCategoria.idCategoria}}
                                    <button class="pull-right"
                                            ng-click="panelCategoriaEdit = true"
                                            style="background: transparent; border: none;">
                                        <md-icon class="material-icons">&#xE14C;</md-icon>
                                    </button>
                                </p>
                                <md-content class="md-padding">
                                    <form name="updateCategoria" style="margin-top: 30px;">
                                        <md-input-container class="md-block" flex>
                                            <label>Nombre categoria</label>
                                            <input type="text"
                                                   minlength="4"
                                                   maxlength="30"
                                                   md-maxlength="30"
                                                   placeholder="Ingrese nombre de categoria"
                                                   ng-model="editCategoria.nombreCategoria"
                                                   name="categoria" required/>
                                            <!-- MENSAJES-->
                                            <div ng-messages="updateCategoria.categoria.$error"
                                                 ng-if='updateCategoria.categoria.$dirty || updateCategoria.categoria.$touched'>
                                                <div ng-message="minlength">Nombre demasiado corto.</div>
                                                <div ng-message="md-maxlength">Nombre demasiado largo.</div>
                                                <div ng-message="required">Este campo no puede estar vacio.</div>
                                            </div>
                                            <!-- ICONOS DE MENSAJE-->
                                            <span ng-show="updateCategoria.categoria.$dirty && updateCategoria.categoria.$valid" class="glyphicon glyphicon-ok form-control-feedback" ></span>
                                            <span ng-show="updateCategoria.categoria.$dirty && updateCategoria.categoria.$invalid" class="glyphicon glyphicon-remove  form-control-feedback"></span>
                                        </md-input-container>
                                        <md-input-container class="md-block" flex ng-controller="TipoController" data-ng-init="listaTipo()">
                                            <label>Tipo de producto</label>
                                            <md-select ng-model="editCategoria.tipoCategoria"
                                                       ng-model-options="{trackBy: '$value.idTipo'}"
                                                       data-ng-init="editCategoria.tipoCategoria"
                                                       required name="tipos">                                            
                                                <md-option ng-value="tipo" 
                                                           ng-repeat="tipo in tipos">{{tipo.nombreTipo}}</md-option>                                            
                                            </md-select>
                                            <!-- MENSAJES-->
                                            <div ng-messages="updateCategoria.tipos.$error"
                                                 ng-if='updateCategoria.tipos.$touched'>
                                                <div ng-message="required">Este campo no puede estar vacio.</div>
                                            </div>
                                            <!-- ICONOS DE MENSAJE-->
                                            <span ng-show="updateCategoria.tipos.$touched && updateCategoria.tipos.$valid" class="glyphicon glyphicon-ok form-control-feedback" ></span>
                                            <span ng-show="updateCategoria.tipos.$touched && updateCategoria.tipos.$invalid" class="glyphicon glyphicon-remove  form-control-feedback"></span>
                                        </md-input-container>
                                        <div class="form-group">
                                            <center>
                                                <button ng-click="modificarCategoria(editCategoria)"
                                                        type="submit"
                                                        id="btnAgregarCategoria"
                                                        class="btn btn-success"
                                                        ng-disabled="updateCategoria.$invalid">Modificar</button>
                                            </center>                                
                                        </div>
                                    </form>
                                </md-content>
                            </div>
                        </md-content>
                    </md-tab>
                    <md-tab label="Agregar nueva Categoria">
                        <md-content class="md-padding" layout="row">
                            <div flex="20"></div>
                            <div flex="60">
                                <md-content class="md-padding" flex>
                                    <form name="newCategoria">
                                        <md-input-container class="md-block" flex>
                                            <label>Nombre categoria</label>
                                            <input type="text"
                                                   minlength="4"
                                                   maxlength="30"
                                                   md-maxlength="30"
                                                   placeholder="Ingrese nombre de categoria"
                                                   ng-model="_categoria.nombreCategoria"
                                                   name="categoria" required/>
                                            <!-- MENSAJES-->
                                            <div ng-messages="newCategoria.categoria.$error"
                                                 ng-if='newCategoria.categoria.$dirty || newCategoria.categoria.$touched'>
                                                <div ng-message="minlength">Nombre demasiado corto.</div>
                                                <div ng-message="md-maxlength">Nombre demasiado largo.</div>
                                                <div ng-message="required">Este campo no puede estar vacio.</div>
                                            </div>
                                            <!-- ICONOS DE MENSAJE-->
                                            <span ng-show="newCategoria.categoria.$dirty && newCategoria.categoria.$valid" class="glyphicon glyphicon-ok form-control-feedback" ></span>
                                            <span ng-show="newCategoria.categoria.$dirty && newCategoria.categoria.$invalid" class="glyphicon glyphicon-remove  form-control-feedback"></span>
                                        </md-input-container>
                                        <md-input-container class="md-block" flex ng-controller="TipoController" data-ng-init="listaTipo()">
                                            <label>Tipo de producto</label>
                                            <md-select ng-model="_categoria.tipoCategoria"
                                                       required name="tipos">                                            
                                                <md-option ng-value="tipo" 
                                                           ng-repeat="tipo in tipos">{{tipo.nombreTipo}}</md-option>                                            
                                            </md-select>
                                            <!-- MENSAJES-->
                                            <div ng-messages="newCategoria.tipos.$error"
                                                 ng-if='newCategoria.tipos.$touched'>
                                                <div ng-message="required">Este campo no puede estar vacio.</div>
                                            </div>
                                            <!-- ICONOS DE MENSAJE-->
                                            <span ng-show="newCategoria.tipos.$touched && newCategoria.tipos.$valid" class="glyphicon glyphicon-ok form-control-feedback" ></span>
                                            <span ng-show="newCategoria.tipos.$touched && newCategoria.tipos.$invalid" class="glyphicon glyphicon-remove  form-control-feedback"></span>
                                        </md-input-container>
                                        <div class="form-group">
                                            <center>
                                                <button ng-click="agrearCategoria(_categoria)"
                                                        type="submit"
                                                        id="btnAgregarCategoria"
                                                        class="btn btn-success"
                                                        ng-disabled="newCategoria.$invalid">Agregar</button>
                                            </center>                                
                                        </div>
                                    </form>
                                </md-content>
                            </div>
                        </md-content>
                    </md-tab>
                </md-tabs>                    
            </md-content>
        </div>
    </div>
</div>

