<!DOCTYPE html>
<div ng-controller="UsuarioController as usCtrl"
     data-ng-init="usCtrl.detailUsuario()"
     ng-show="usCtrl.user.username"
     md-theme="docs-dark"
     style="height: 100%;"
     layout="row"
     layout-margin
     layout-xs="row">
    <div flex="30"
         layout="column"
         layout-xs="column">
        <div layout="column" layout-xs="column" flex
             ng-cloak  md-theme="docs-dark" class="distribucion-panel">
            <md-toolbar class="md-warn">
                <div class="md-toolbar-tools">
                    <h4 class="md-flex" style="width:100%; text-align: center;">
                        <div>{{usCtrl.user.nombre}} {{usCtrl.user.apellido}}</div>
                        <div>{{usCtrl.user.usuarioSucursal.nombreSucursal}}</div>
                    </h4>
                </div>
            </md-toolbar>
            <md-content flex layout="row">
                <div class="md-padding" flex>
                    <form style="text-align: center;" data-ng-init="vm.metricas()">
                        <div layout="column" flex style="margin-bottom: 0px;">
                            <p style="font-weight: bolder;">
                                {{vm.clock| date:'medium'}}
                            </p>
                        </div>                    
                        <div layout="column" flex style="margin-bottom: 10px;">
                            <label flex>Facturas</label>
                            <div flex>
                                <div ng-if="vm.metrics.totalFacturasHoy === null">
                                    {{0|currency}}
                                </div>
                                <div ng-if="vm.metrics.totalFacturasHoy !== null">
                                    {{vm.metrics.totalFacturasHoy|currency}}
                                </div>
                            </div>                            
                        </div>
                        <div layout="column" flex style="margin-bottom: 10px;">
                            <label flex>Reservas</label>
                            <div flex>                                
                                <div ng-if="vm.metrics.totalReservasHoy === null">
                                    {{0|currency}}
                                </div>
                                <div ng-if="vm.metrics.totalReservasHoy !== null">
                                    {{vm.metrics.totalReservasHoy|currency}}
                                </div>                                
                            </div>
                        </div>                  
                        <div layout="column" flex style="margin-bottom: 10px;">
                            <label flex>Efectivo</label>
                            <div flex>                                
                                <div ng-if="vm.metrics.efectivoHoy === null">
                                    {{0|currency}}
                                </div>
                                <div ng-if="vm.metrics.efectivoHoy !== null">
                                    {{vm.metrics.efectivoHoy|currency}}
                                </div>                                
                            </div>  
                        </div>                  
                        <div layout="column" flex style="margin-bottom: 10px;">
                            <label flex>Impresas</label>
                            <div flex>                                
                                {{vm.metrics.impresasHoy}}                                
                            </div>  
                        </div>                  
                        <div layout="column" flex class="padd">
                            <button class="btn btn-block btn-success"
                                    style="margin-top: 20px; margin-bottom: 8px;"
                                    ng-click="vm.agregarFactura(vm._newFactura)">
                                <md-tooltip md-direction="top" md-theme="default">
                                    Crear una nueva factura
                                </md-tooltip>
                                Nueva Factura
                            </button>
                            <button 
                                ng-controller="ReservaController as reCtrl"
                                style="margin-top: 8px; margin-bottom: 8px;"
                                ng-click="reCtrl.agregarReserva(reCtrl.nuevaReserva)"
                                class="btn btn-block btn-success">
                                <md-tooltip md-direction="top" md-theme="default">
                                    Crear una nueva reserva
                                </md-tooltip>
                                Nueva Reserva
                            </button>
                            <div  ng-controller="FiscalController as fsCtrl" data-ng-init="fsCtrl.accesoFiscal()">
                                <button class="btn btn-block btn-primary"
                                        style="margin-top: 8px; margin-bottom: 8px;"
                                        ng-click="fsCtrl.imprimirComprobanteZ()">
                                    <md-tooltip md-direction="top" md-theme="default">
                                        Imprimir comprobante Z con la impresora fiscal
                                    </md-tooltip>
                                    Comprobante Z
                                </button>
                            </div>
                            <button 
                                style="margin-top: 8px; margin-bottom: 8px;"
                                ng-click="vm.buscarRegalo()"
                                class="btn btn-block btn-info">
                                <md-tooltip md-direction="top" md-theme="default">
                                    Buscar factura de ticket regalo
                                </md-tooltip>
                                Buscar regalo
                            </button>
                        </div>
                    </form>
                </div>
            </md-content>
        </div>
    </div>
    <div flex="70"
         layout="column"
         layout-xs="column">
        <div layout="column" layout-xs="column" flex
             ng-cloak  md-theme="docs-dark" class="distribucion-panel">       
            <md-content style="min-height: 598px;">
                <md-tabs md-dynamic-height md-border-bottom
                         md-no-ink-bar="false"
                         md-stretch-tabs="always"
                         md-center-tabs="true"
                         md-selected="tabs">
                    <md-tab label="Facturas de hoy">
                        <md-content class="md-padding">
                            <table class="table table-striped table-hover table-condensed light-table"
                                   ng-table="tableFacturasDiaria"
                                   data-ng-init="vm.listaFacturasDiaria()">
                                <thead id="headTableProductos">
                                    <tr>
                                        <th style="text-align: center;">N°</th>
                                        <th style="text-align: center; font-size: smaller;">Cliente</th>
                                        <th style="text-align: center;">Total</th>
                                        <th style="text-align: center;">Fecha</th>
                                        <th style="text-align: center;">Estado</th>
                                        <th style="text-align: center; font-size: smaller;">Vendedor</th>
                                        <th style="text-align: center;">Factura</th>
                                        <th style="text-align: center;">Regalo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="factura in $data"
                                        ng-class="{success:factura.estado === 'CONFIRMADO',
                                                info: factura.estado === 'INICIADO',
                                            danger: factura.estado === 'CANCELADO'}">
                                        <td style="text-align: center;">
                                            <a href=""
                                               ng-class="{
                                                               disabled: factura.estado === 'CANCELADO'
                                                           }"
                                               ui-sref="factura({idFactura:{{factura.idFactura}}})">
                                                {{factura.idFactura}}
                                            </a>
                                        </td>
                                        <td style="text-align: center; font-size: smaller;">
                                            {{factura.cliente.nombreCliente}} {{factura.cliente.apellidoCliente}}
                                            <div ng-if="factura.cliente === null">Sin cliente</div>
                                        </td>
                                        <td style="text-align: center">{{factura.total|currency}}</td>
                                        <td style="text-align: center; font-size: smaller;">{{factura.fechaCreacion| date : 'M/d/yy H:mm'}}</td>
                                        <td style="text-align: center;">                                    
                                            <i ng-if="factura.estado === 'CONFIRMADO'"
                                               class="material-icons" style="font-size: large;">
                                                <md-tooltip md-direction="top" md-theme="default">
                                                    {{factura.estado}}
                                                </md-tooltip>
                                                &#xE876;
                                            </i>
                                            <i ng-if="factura.estado === 'CANCELADO'"
                                               class="material-icons" style="font-size: large;">
                                                <md-tooltip md-direction="top" md-theme="default">
                                                    {{factura.estado}}
                                                </md-tooltip>
                                                &#xE14C;
                                            </i>
                                            <i ng-if="factura.estado === 'INICIADO'"
                                               class="material-icons" style="font-size: large;">
                                                <md-tooltip md-direction="top" md-theme="default">
                                                    {{factura.estado}}
                                                </md-tooltip>
                                                &#xE8AE;
                                            </i>
                                        </td>
                                        <td style="text-align: center; font-size: smaller;">{{factura.idVendedor.nombre}} {{factura.idVendedor.apellido}}
                                            <div ng-if="factura.idVendedor === null"> ~ </div>
                                        </td>
                                        <td style="text-align: center;">{{factura.numeracion}}
                                            <div ng-if="factura.numeracion === null">S/N</div>
                                        </td>
                                        <td style="text-align: center;">
                                            {{factura.regalo}}
                                            <div ng-if="factura.regalo === null">S/N</div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </md-content>
                    </md-tab>
                    <md-tab label="Facturas ultimos 30 dias">
                        <md-content class="md-padding">
                            <table class="table table-striped table-hover table-condensed light-table"
                                   ng-table="tableFacturasMensualPaged"
                                   data-ng-init="vm.listaFacturasMensualPaged()">
                                <thead id="headTableProductos">
                                    <tr>
                                        <th style="text-align: center;">N°</th>
                                        <th style="text-align: center; font-size: smaller;">Cliente</th>
                                        <th style="text-align: center;">Total</th>
                                        <th style="text-align: center;">Fecha</th>
                                        <th style="text-align: center;">Estado</th>
                                        <th style="text-align: center; font-size: smaller;">Vendedor</th>
                                        <th style="text-align: center;">Factura</th>
                                        <th style="text-align: center;">Regalo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="factura in $data"
                                        ng-class="{success:factura.estado === 'CONFIRMADO',
                                                info: factura.estado === 'INICIADO',
                                            danger: factura.estado === 'CANCELADO'}">
                                        <td style="text-align: center;">
                                            <a href=""
                                               ng-class="{
                                                               disabled: factura.estado === 'CANCELADO'
                                                           }"
                                               ui-sref="factura({idFactura:{{factura.idFactura}}})">
                                                {{factura.idFactura}}
                                            </a>
                                        </td>
                                        <td style="text-align: center; font-size: smaller;">
                                            {{factura.cliente.nombreCliente}} {{factura.cliente.apellidoCliente}}
                                            <div ng-if="factura.cliente === null">Sin cliente</div>
                                        </td>
                                        <td style="text-align: center">{{factura.total|currency}}</td>
                                        <td style="text-align: center; font-size: smaller;">{{factura.fechaCreacion| date : 'M/d/yy H:mm'}}</td>
                                        <td style="text-align: center;">                                    
                                            <i ng-if="factura.estado === 'CONFIRMADO'"
                                               class="material-icons" style="font-size: large;">
                                                <md-tooltip md-direction="top" md-theme="default">
                                                    {{factura.estado}}
                                                </md-tooltip>
                                                &#xE876;
                                            </i>
                                            <i ng-if="factura.estado === 'CANCELADO'"
                                               class="material-icons" style="font-size: large;">
                                                <md-tooltip md-direction="top" md-theme="default">
                                                    {{factura.estado}}
                                                </md-tooltip>
                                                &#xE14C;
                                            </i>
                                            <i ng-if="factura.estado === 'INICIADO'"
                                               class="material-icons" style="font-size: large;">
                                                <md-tooltip md-direction="top" md-theme="default">
                                                    {{factura.estado}}
                                                </md-tooltip>
                                                &#xE8AE;
                                            </i>
                                        </td>
                                        <td style="text-align: center; font-size: smaller;">{{factura.idVendedor.nombre}} {{factura.idVendedor.apellido}}
                                            <div ng-if="factura.idVendedor === null"> ~ </div>
                                        </td>
                                        <td style="text-align: center;">
                                            {{factura.numeracion}}
                                            <div ng-if="factura.numeracion === null">S/N</div>
                                        </td>
                                        <td style="text-align: center;">
                                            {{factura.regalo}}
                                            <div ng-if="factura.regalo === null">S/N</div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </md-content>
                    </md-tab>
                    <md-tab label="Reservas de hoy">
                        <md-content class="md-padding">
                            <table class="table table-striped table-hover table-condensed light-table"
                                   ng-table="tableReservasDiaria"
                                   ng-controller="ReservaController as reCtrl"
                                   data-ng-init="reCtrl.listaReservasDiaria()">
                                <thead id="headTableProductos">
                                    <tr>
                                        <th style="text-align: center;">N°</th>
                                        <th style="text-align: center; font-size: smaller;">Cliente</th>
                                        <th style="text-align: center;">Total</th>
                                        <th style="text-align: center;">Fecha</th>
                                        <th style="text-align: center;">Estado</th>
                                        <th style="text-align: center; font-size: smaller;">Vendedor</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="factura in $data">
                                        <td style="text-align: center;">
                                            <a href=""
                                               ui-sref="reserva({idFactura:{{factura.idFactura}}})">
                                                {{factura.idFactura}}
                                            </a>
                                        </td>
                                        <td style="text-align: center; font-size: smaller;">
                                            {{factura.cliente.nombreCliente}} {{factura.cliente.apellidoCliente}}
                                            <div ng-if="factura.cliente === null">Sin cliente</div>
                                        </td>
                                        <td style="text-align: center">{{factura.total|currency}}</td>
                                        <td style="text-align: center; font-size: smaller;">{{factura.fechaCreacion| date : 'M/d/yy H:mm'}}</td>
                                        <td style="text-align: center;">                                    
                                            <i ng-if="factura.estado === 'RESERVADO'"
                                               class="material-icons" style="font-size: large;">
                                                <md-tooltip md-direction="top" md-theme="default">
                                                    {{factura.estado}}
                                                </md-tooltip>
                                                &#xE88B;
                                            </i>
                                        </td>
                                        <td style="text-align: center; font-size: smaller;">{{factura.idVendedor.nombre}} {{factura.idVendedor.apellido}}
                                            <div ng-if="factura.idVendedor === null"> ~ </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </md-content>
                    </md-tab>
                    <md-tab label="Reservas ultimos 30 dias">
                        <md-content class="md-padding">
                            <table class="table table-striped table-hover table-condensed light-table"
                                   ng-controller="ReservaController as reCtrl"
                                   ng-table="tableReservasMensual"
                                   data-ng-init="reCtrl.listaReservasMensual()">
                                <thead id="headTableProductos">
                                    <tr>
                                        <th style="text-align: center;">N°</th>
                                        <th style="text-align: center; font-size: smaller;">Cliente</th>
                                        <th style="text-align: center;">Total</th>
                                        <th style="text-align: center;">Fecha</th>
                                        <th style="text-align: center;">Estado</th>
                                        <th style="text-align: center; font-size: smaller;">Vendedor</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="factura in $data">
                                        <td style="text-align: center;">
                                            <a href=""
                                               ui-sref="reserva({idFactura:{{factura.idFactura}}})">
                                                {{factura.idFactura}}
                                            </a>
                                        </td>
                                        <td style="text-align: center; font-size: smaller;">
                                            {{factura.cliente.nombreCliente}} {{factura.cliente.apellidoCliente}}
                                            <div ng-if="factura.cliente === null">Sin cliente</div>
                                        </td>
                                        <td style="text-align: center">{{factura.total|currency}}</td>
                                        <td style="text-align: center; font-size: smaller;">{{factura.fechaCreacion| date : 'M/d/yy H:mm'}}</td>
                                        <td style="text-align: center;">                                    
                                            <i ng-if="factura.estado === 'RESERVADO'"
                                               class="material-icons" style="font-size: large;">
                                                <md-tooltip md-direction="top" md-theme="default">
                                                    {{factura.estado}}
                                                </md-tooltip>
                                                &#xE88B;
                                            </i>
                                        </td>
                                        <td style="text-align: center; font-size: smaller;">{{factura.idVendedor.nombre}} {{factura.idVendedor.apellido}}
                                            <div ng-if="factura.idVendedor === null"> ~ </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </md-content>            
        </div>
    </div>
</div>