<!DOCTYPE html>
<div class="ngdialog-message" md-theme="modal">
    <md-toolbar class="md-accent">
        <div class="md-toolbar-tools">
            <h3 class="modal-title" style="width: 100%; text-align: center;">
                <div>{{ngDialogData.item.idProducto.descripcion}}</div>    
            </h3>
        </div>
    </md-toolbar>
    <md-content flex>
        <md-content class="md-padding" flex>
            <div layout="column" class="md-padding">
                <form name="agregarItemForm">
                    <md-input-container class="md-block" flex>
                        <label>Cantidad</label>
                        <input type="number"
                               focus-if
                               ng-model="cantidad"
                               max="999"
                               min="0"
                               placeholder="Ingresa cantidad de items a comprar."
                               name="cantidad" required/>
                        <div ng-messages="agregarItemForm.cantidad.$error"
                             ng-if='agregarItemForm.cantidad.$dirty || agregarItemForm.cantidad.$touched'>
                            <div ng-message="min">Cantidad demasiado baja.</div>
                            <div ng-message="max">Cantidad demasiado grande.</div>
                            <div ng-message="required">Este campo no puede estar vacio.</div>
                        </div>
                    </md-input-container>
                    <div flex style="text-align: center;">
                        <button type="button"
                                ng-click="confirmarAgregarItem(ngDialogData.item, cantidad)"
                                ng-disabled="agregarItemForm.$invalid"
                                class="btn btn-success">Agregar</button>
                    </div>
                </form>
            </div>
        </md-content>
    </md-content>
    <md-content flex class="md-padding">
        <button class="btn btn-md btn-danger pull-right"
                ng-click="closeThisDialog('')">Cerrar</button>
    </md-content>
</div>
