<!DOCTYPE html>
<div class="ngdialog-message ngdialog-advertencia" md-theme="docs-dark">
    <md-toolbar class="md-accent">
        <div class="md-toolbar-tools">
            <h3 class="modal-title" style="width: 100%; text-align: center;">
                <div>Eliminar descuento</div>
            </h3>
        </div>
    </md-toolbar>
    <md-content flex>
        <md-content class="md-padding" flex>
            <div layout="column" layout layout-align="center center" style="text-align: center;">
                <p style="font-weight: bolder; color: white;">Para realizar esta acción necesitas permiso de un Administrador o un Encargado</p>
                <p>Ingresa el usuario y contraseña correspondiente para continuar</p>            
            </div>
            <form name="eliminarDescuento">
                <md-input-container flex class="md-block md-icon">
                    <label>D.N.I.</label>
                    <md-icon class="material-icons">&#xE90D;</md-icon>
                    <input type="number"
                           required
                           name="dni"
                           min="0"
                           ng-model="dni"
                           placeholder="Ingresar número de D.N.I.">
                    <!-- MENSAJES -->
                    <div ng-messages="eliminarDescuento.dni.$error"
                         ng-if='eliminarDescuento.dni.$dirty || eliminarDescuento.dni.$touched'>
                        <div ng-message="required">Este campo no puede estar vacio.</div>
                    </div>
                </md-input-container>
                <md-input-container flex class="md-block md-icon">
                    <label>Contraseña</label>
                    <md-icon class="material-icons">&#xE0DA;</md-icon>
                    <input type="password"
                           required minlength="8"
                           name="password"
                           ng-model="password"
                           placeholder="Ingresa contraseña">
                    <!-- MENSAJES -->
                    <div ng-messages="eliminarDescuento.password.$error"
                         ng-if='eliminarDescuento.password.$dirty || eliminarDescuento.password.$touched'>
                        <div ng-message="required">Este campo no puede estar vacio.</div>
                        <div ng-message="minlength">Contraseña demasiado corta.</div>
                    </div>
                </md-input-container>
                <div layout layout-align="center center">
                    <button 
                        type="button"
                        ng-click="finalizarEliminarDescuento(ngDialogData.detalleFactura, dni, password)"
                        ng-disabled="eliminarDescuento.$invalid"
                        class="btn btn-danger">Eliminar</button>
                </div>
            </form>
        </md-content>
    </md-content>
    <md-content flex class="md-padding">
        <button class="btn btn-md btn-danger pull-right"
                ng-click="closeThisDialog('')">Cerrar</button>
    </md-content>
</div> 