<!DOCTYPE html>
<div layout="column" flex ng-cloak >
    <div class="md-padding"
         data-ng-init="buscarProducto()"
         ng-show="foundProducto"
         md-theme="docs-dark" ng-cloak flex>
        <md-toolbar class="md-accent" flex>
            <div class="md-toolbar-tools">
                <h4 class="md-flex" style="width:100%;">
                    # {{foundProducto.idProducto}}
                </h4>
            </div>
        </md-toolbar>
        <md-content flex md-theme="docs-dark">
            <form class="md-padding" flex>
                <div flex layout="row">
                    <div flex>
                        <div layout="row" class="padd">
                            <label flex>Descripcion</label>                
                            <div flex>{{::foundProducto.descripcion}}</div>
                        </div>
                        <div layout="row" class="padd">
                            <label flex>Color</label>
                            <div flex>{{::foundProducto.colorProducto}}</div>  
                        </div>
                        <div layout="row" class="padd">
                            <label flex>Talla</label>            
                            <div flex>{{::foundProducto.talla| uppercase}}</div>
                        </div>
                        <div layout="row" class="padd">
                            <label flex>Precio costo</label>
                            <div flex>{{::foundProducto.precioCosto|currency}}</div>
                        </div>
                        <div layout="row" class="padd">
                            <label flex>Precio venta</label>
                            <div flex>{{::foundProducto.precioVenta|currency}}</div>
                        </div>
                        <div layout="row" class="padd">
                            <label flex>Cantidad en stock</label>
                            <div flex>{{::foundProducto.cantidadTotal}}</div>
                        </div>
                        <div layout="row" class="padd">
                            <label flex>Marca</label>
                            <div flex>{{::foundProducto.marcas.nombreMarca}}</div>
                        </div>
                    </div>
                    <div flex>
                        <div layout="row" class="padd">
                            <label flex>Categoria</label>
                            <div flex>{{::foundProducto.categoria.nombreCategoria}}</div>
                        </div>
                        <div layout="row" class="padd">
                            <label flex>Temporada</label>
                            <div flex>{{::foundProducto.temporada.nombreTemporada}}</div>
                        </div>
                        <div layout="row" class="padd">
                            <label flex>Sexo</label>
                            <div flex>{{::foundProducto.sexo.nombreSexo}}</div>
                        </div>
                        <div layout="row" class="padd">
                            <label flex>Proveedor</label>
                            <div flex>{{foundProducto.facturaProducto.proveedor.nombreProveedor}}</div>
                        </div>
                        <div layout="row" class="padd">
                            <label flex>N° Factura</label>
                            <div flex>{{foundProducto.facturaProducto.numeroFactura}}</div>
                        </div>
                        <div layout="row" class="padd">
                            <label flex>Fecha Factura</label>
                            <div flex>{{foundProducto.facturaProducto.fechaFactura}}</div>
                        </div>
                    </div>
                </div>                
            </form>
        </md-content>
    </div>
</div>
<style>
    main{
        width: 100%;
    }
    .col-lg-12{
        padding-right: 0px;
        padding-left: 0px;
    }
</style>