<!DOCTYPE html>
<md-toolbar class="md-warn" md-theme="docs-dark">    
    {{dynamicPopover.content.descripcion}}    
</md-toolbar>
<md-content flex md-theme="docs-dark">    
        <div class="md-padding" flex>
            <form class="md-padding">
                <div layout="row" class="padd">
                    <label flex>Descripcion</label>                
                    <div flex>{{dynamicPopover.content.descripcion}}</div>
                </div>
            </form>
        </div>    
</md-content>
<style>
    md-toolbar{
        font-size: small;
        text-align: center;
        height: 30px;
    }
</style>