<!DOCTYPE html>
<div layout="column"
     layout-margin
     layout-xs="column">
    <div layout="column" layout-xs="column" flex
         class="distribucion-panel" ng-cloak>
        <md-content md-theme="docs-dark" style="min-height: 598px;" flex>
            <md-toolbar class="md-accent">
                <div class="md-toolbar-tools">
                    <h4 class="md-flex" style="width:100%; text-align: center;">Datos nuevo producto</h4>
                </div>
            </md-toolbar>
            <md-content flex layout-padding>
                <form name="nuevoProducto">
                    <div layout="row" flex>
                        <md-input-container flex class="md-block">
                            <label>Descripción</label>
                            <input type="text"
                                   style="text-transform:uppercase;"
                                   maxlength="30"
                                   md-maxlength="30"
                                   minlength="5"
                                   ng-disabled="descripcionProducto"
                                   placeholder="Descripción del producto"
                                   ng-model="vm._producto.descripcion"
                                   name="descripcion" required/>
                            <div ng-messages="nuevoProducto.descripcion.$error"
                                 ng-if='nuevoProducto.descripcion.$dirty || nuevoProducto.descripcion.$touched'>
                                <div ng-message="minlength">Descripción demasiado corta.</div>
                                <div ng-message="md-maxlength">Descripción demasiado larga.</div>
                                <div ng-message="required">Este campo no puede estar vacio.</div>
                            </div>
                        </md-input-container>
                        <div style="max-height: 58px !important;" flex class="md-block"
                             ng-controller="MarcaController as maCtrl">
                            <md-autocomplete flex required
                                             ng-disabled="marcaProducto"
                                             style="margin-top: 0px !important;"
                                             placeholder="Buscar marca"
                                             md-input-name="marcas"
                                             md-input-minlength="2"
                                             md-min-length="2"
                                             md-input-maxlength="40"
                                             md-selected-item="vm._producto.marcas"
                                             md-search-text="searchText"
                                             md-items="item in maCtrl.getMarca(searchText)"
                                             md-item-text="item.nombreMarca"
                                             md-floating-label="Marca">
                                <md-item-template>
                                    <span md-highlight-text="searchText">{{item.nombreMarca}}</span>
                                </md-item-template>
                                <md-not-found>
                                    No se encontraron resultados
                                </md-not-found>
                                <div ng-messages="nuevoProducto.marcas.$error"
                                     ng-if="nuevoProducto.marcas.$dirty || nuevoProducto.marcas.$touched">
                                    <div ng-message="required">Este campo no puede estar vacio.</div>
                                    <div ng-message="minlength">El termino de busqueda es demasiado corto.</div>
                                    <div ng-message="maxlength">El termino de busqueda es demasiado largo.</div>
                                </div>
                            </md-autocomplete>
                        </div>
                    </div>
                    <div layout="row" flex>
                        <md-input-container style="min-height: 48px;"
                                            class="md-block"
                                            flex ng-controller="CategoriaController as caCtrl"
                                            data-ng-init="caCtrl.listaCategorias()">
                            <label>Categoria</label>
                            <md-select ng-model="vm._producto.categoria"
                                       placeholder="Categoria"
                                       ng-disabled="categoriaProducto"
                                       ng-model-options="{trackBy: '$value.idCategoria'}"
                                       data-ng-init="vm._producto.categoria"
                                       required name="categorias">                                            
                                <md-option ng-value="categoria"
                                           ng-repeat="categoria in categorias">{{categoria.nombreCategoria}}</md-option>                                            
                            </md-select>
                            <div ng-messages="nuevoProducto.categorias.$error"
                                 ng-if="nuevoProducto.categorias.$dirty || nuevoProducto.categorias.$touched">
                                <div ng-message="required">Este campo no puede estar vacio.</div>
                            </div>
                        </md-input-container>
                        <md-input-container style="min-height: 48px;"
                                            class="md-block"
                                            flex ng-controller="TemporadaController as teCtrl"
                                            data-ng-init="teCtrl.listaTemporadas()">
                            <label>Temporada</label>
                            <md-select ng-model="vm._producto.temporada"
                                       placeholder="Elige una temporada"
                                       ng-disabled="temporadaProducto"
                                       ng-model-options="{trackBy: '$value.idTemporada'}"
                                       data-ng-init="vm._producto.temporada"
                                       required name="temporadas">
                                <md-option ng-value="temporada"
                                           ng-repeat="temporada in temporadas">{{temporada.nombreTemporada}}</md-option>                                            
                            </md-select>
                            <div ng-messages="nuevoProducto.temporadas.$error"
                                 ng-if="nuevoProducto.temporadas.$dirty || nuevoProducto.temporadas.$touched">
                                <div ng-message="required">Este campo no puede estar vacio.</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout="row" flex>
                        <md-input-container style="min-height: 48px;"
                                            class="md-block"                                            
                                            ng-controller="SexoController as seCtrl"
                                            flex data-ng-init="seCtrl.listaSexos()">
                            <label>Sexo</label>
                            <md-select ng-model="vm._producto.sexo"
                                       placeholder="Elige un sexo"
                                       ng-disabled="sexoProducto"
                                       ng-model-options="{trackBy: '$value.idSexo'}"
                                       data-ng-init="vm._producto.sexo"
                                       required name="sexos">                                            
                                <md-option ng-value="sexo"
                                           ng-repeat="sexo in sexos">{{sexo.nombreSexo}}</md-option>                                            
                            </md-select>
                            <div ng-messages="nuevoProducto.sexos.$error"
                                 ng-if="nuevoProducto.sexos.$dirty || nuevoProducto.sexos.$touched">
                                <div ng-message="required">Este campo no puede estar vacio.</div>
                            </div>
                        </md-input-container>
                        <md-input-container flex class="md-block">
                            <label>Talla</label>
                            <input type="text"
                                   style="text-transform:uppercase;"
                                   maxlength="10"
                                   md-maxlength="10"
                                   minlength="1"
                                   ng-disabled="tallaProducto"
                                   placeholder="Talla del producto"
                                   ng-model="vm._producto.talla"
                                   name="talla" required/>
                            <div ng-messages="nuevoProducto.talla.$error"
                                 ng-if='nuevoProducto.talla.$dirty || nuevoProducto.talla.$touched'>
                                <div ng-message="minlength">Talla demasiado corta.</div>
                                <div ng-message="md-maxlength">Talla demasiado larga.</div>
                                <div ng-message="required">Este campo no puede estar vacio.</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout="row" flex>
                        <md-input-container flex class="md-block">
                            <label>Color</label>
                            <input type="text"
                                   style="text-transform:uppercase;"
                                   maxlength="20"
                                   md-maxlength="20"
                                   minlength="1"
                                   ng-disabled="colorProducto"
                                   placeholder="Color del producto"
                                   ng-model="vm._producto.colorProducto"
                                   name="color" required/>
                            <div ng-messages="nuevoProducto.color.$error"
                                 ng-if='nuevoProducto.color.$dirty || nuevoProducto.color.$touched'>
                                <div ng-message="minlength">Nombre de color demasiado corto.</div>
                                <div ng-message="md-maxlength">Nombre de color demasiado larg.</div>
                                <div ng-message="required">Este campo no puede estar vacio.</div>
                            </div>
                        </md-input-container>
                        <div layout="row" flex>
                            <md-input-container class="md-block" flex>
                                <label>Codigo</label>
                                <input type="text"
                                       ng-model="vm._producto.codigoProducto" 
                                       name="codigo" required
                                       minlength="8"
                                       md-maxlength="30"
                                       ng-disabled="codigoProducto"
                                       placeholder="Codigo de barras"
                                       required maxlength="30"/>
                                <div ng-messages="nuevoProducto.codigo.$error"
                                     ng-if='nuevoProducto.codigo.$dirty || nuevoProducto.codigo.$touched'>
                                    <div ng-message="minlength">Codigo de barras demasiado corto.</div>
                                    <div ng-message="md-maxlength">Codigo de barras demasiado larg.</div>
                                    <div ng-message="required">Este campo no puede estar vacio.</div>
                                </div>
                            </md-input-container>
                            <div>
                                <button class="btn btn-danger" style="margin-top: 12px;"
                                        ng-click="vm._producto.codigoProducto = vm.randomCode(
                                                    vm._producto.categoria.idCategoria,
                                                    vm._producto.marcas.idMarca)"
                                        ng-disabled="vm._producto.codigoProducto"
                                        type="button">Random</button>
                            </div>
                        </div>
                    </div>
                    <div layout="row" flex>
                        <md-input-container class="md-block" flex>
                            <label>Clase</label>
                            <md-select ng-model="vm._producto.claseProducto"
                                       placeholder="Elige una clase"
                                       ng-disabled="claseProducto"
                                       required name="clase">
                                <md-option value="{{class.value}}"
                                           ng-repeat="class in vm.classes">{{ class.name}}</md-option>
                            </md-select>
                            <div ng-messages="nuevoProducto.clase.$error"
                                 ng-if="nuevoProducto.clase.$dirty || nuevoProducto.clase.$touched">
                                <div ng-message="required">Este campo no puede estar vacio.</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block" flex>
                            <label>Stock</label>
                            <input type="number"
                                   min="1"
                                   max="300"
                                   ng-disabled="stockProducto"
                                   placeholder="Ingresar stock total"
                                   ng-model="vm._producto.cantidadTotal" name="stock" required/>
                            <div ng-messages="nuevoProducto.stock.$error"
                                 ng-if="nuevoProducto.stock.$dirty || nuevoProducto.stock.$touched">
                                <div ng-message="required">Este campo no puede estar vacio.</div>
                                <div ng-message="min">Cantidad de stock muy baja.</div>
                                <div ng-message="max">Cantidad de stock demasiado grande.</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block" flex>
                            <label>Stock minimo</label>
                            <input type="number"
                                   max="300"
                                   min="0"
                                   ng-disabled="minimoProducto"
                                   placeholder="Ingresar stock minimo"
                                   ng-model="vm._producto.cantidadMinima" name="minimo" required/>
                            <div ng-messages="nuevoProducto.minimo.$error"
                                 ng-if="nuevoProducto.minimo.$dirty || nuevoProducto.minimo.$touched">                                
                                <div ng-message="min">Cantidad de stock muy baja.</div>
                                <div ng-message="max">Cantidad de stock demasiado grande.</div>
                                <div ng-message="required">Este campo no puede estar vacio.</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block" flex>
                            <label>Costo real</label>
                            <input type="number"
                                   max="999999"
                                   min="0"
                                   placeholder="0000.00"
                                   ng-model="vm._producto.precioLista" name="lista" required/>
                            <div ng-messages="nuevoProducto.lista.$error"
                                 ng-if="nuevoProducto.lista.$dirty || nuevoProducto.lista.$touched">                                
                                <div ng-message="min">Precio invalido, es muy bajo.</div>
                                <div ng-message="max">Precio invalido, es muy grande.</div>
                                <div ng-message="required">Este campo no puede estar vacio.</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block" flex>
                            <label>Precio de Costo</label>
                            <input type="number"
                                   max="999999"
                                   min="0"
                                   placeholder="0000.00"
                                   ng-model="vm._producto.precioCosto" name="costo" required/>
                            <div ng-messages="nuevoProducto.costo.$error"
                                 ng-if="nuevoProducto.costo.$dirty || nuevoProducto.costo.$touched">                                
                                <div ng-message="min">Precio invalido, es muy bajo.</div>
                                <div ng-message="max">Precio invalido, es muy grande.</div>
                                <div ng-message="required">Este campo no puede estar vacio.</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block" flex>
                            <label>Precio de Venta</label>
                            <input type="number"
                                   max="999999"
                                   min="0"
                                   placeholder="0000.00"
                                   ng-model="vm._producto.precioVenta" name="venta" required/>
                            <div ng-messages="nuevoProducto.venta.$error"
                                 ng-if="nuevoProducto.venta.$dirty || nuevoProducto.venta.$touched">                                
                                <div ng-message="min">Precio invalido, es muy bajo.</div>
                                <div ng-message="max">Precio invalido, es muy grande.</div>
                                <div ng-message="required">Este campo no puede estar vacio.</div>
                            </div>
                        </md-input-container>
                    </div>
                    <button class="btn btn-success pull-right"
                            ng-click="vm.elegirCarga(vm._producto)"
                            ng-disabled="nuevoProducto.$invalid">
                        <md-tooltip md-direction="bottom" md-theme="default">
                            Agregar nuevo producto
                        </md-tooltip>
                        Agregar
                    </button>
                    <button class="btn btn-success pull-right"
                            style="width: 77px; margin-right: 10px;"
                            ng-click="vm.windowBusqueda()">
                        <md-tooltip md-direction="bottom" md-theme="default">
                            Abrir una ventana de busqueda.
                        </md-tooltip>
                        Buscar
                    </button>
                </form>
            </md-content>
        </md-content>
    </div>
</div>
<style>
    md-input-container:not(.md-input-has-value) input:not(:focus),
    md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-ampm-field,
    md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-day-field,
    md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-hour-field,
    md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-millisecond-field, 
    md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-minute-field,
    md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-month-field,
    md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-second-field,
    md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-text,
    md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-week-field,
    md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-year-field {
        color: rgb(245, 245, 245);
    }
    md-autocomplete[md-floating-label] md-input-container {
        padding-bottom: 0px!important;
    }
    md-autocomplete.md-docs-dark-theme[disabled] {
        background: rgba(245, 245, 245, 0);
    }
</style>