<!DOCTYPE html>
<div layout="row"
     layout-align="center"
     layout-xs="row">
    <div layout="column"
         layout-xs="column"
         flex-gt-sm="70"
         flex-sm="100"
         data-ng-init="buscarProducto()"         
         ng-show="foundProducto">
        <div ng-cloak>
            <md-content md-theme="docs-dark" style="min-height: 598px;">
                <md-toolbar class="md-accent">
                    <div class="md-toolbar-tools">
                        <h4 class="md-flex" style="width:100%;">
                            # {{foundProducto.idProducto}}
                            <div style="float: right;" ng-hide="edit">                         
                                <a href='' ng-show="editarProducto"
                                   ng-click="hidePanelProducto(foundProducto)"
                                   style="color: #000;">Editar</a>
                                <a href='' ng-hide="editarProducto"
                                   ng-click="editarProducto = true"
                                   style="color: #000;">Cerrar</a> /
                                <a href='' 
                                   ng-click="eliminarProductoDetalle(foundProducto)"
                                   style="color: #000;">Eliminar</a>
                            </div>
                        </h4>
                    </div>
                </md-toolbar>
                <md-content flex>
                    <div ng-show="editarProducto" flex layout="row">
                        <div class="md-padding" flex>
                            <form class="md-padding">
                                <div layout="row" class="padd">
                                    <label flex>Descripcion</label>                
                                    <div flex>{{::foundProducto.descripcion}}</div>
                                </div>
                                <div layout="row" class="padd">
                                    <label flex>Color</label>
                                    <div flex>{{::foundProducto.colorProducto}}</div>  
                                </div>
                                <div layout="row" class="padd">
                                    <label flex>Talla</label>            
                                    <div flex>{{::foundProducto.talla| uppercase}}</div>
                                </div>
                                <div layout="row" class="padd">
                                    <label flex>Precio costo</label>
                                    <div flex>{{::foundProducto.precioCosto|currency}}</div>
                                </div>
                                <div layout="row" class="padd">
                                    <label flex>Precio venta</label>
                                    <div flex>{{::foundProducto.precioVenta|currency}}</div>
                                </div>
                                <div layout="row" class="padd">
                                    <label flex>Cantidad en stock</label>
                                    <div flex>{{::foundProducto.cantidadTotal}}</div>
                                </div>
                                <div layout="row" class="padd">
                                    <label flex>Marca</label>
                                    <div flex>{{::foundProducto.marcas.nombreMarca}}</div>
                                </div>
                                <div layout="row" class="padd">
                                    <label flex>Categoria</label>
                                    <div flex>{{::foundProducto.categoria.nombreCategoria}}</div>
                                </div>
                                <div layout="row" class="padd">
                                    <label flex>Temporada</label>
                                    <div flex>{{::foundProducto.temporada.nombreTemporada}}</div>
                                </div>
                                <div layout="row" class="padd">
                                    <label flex>Sexo</label>
                                    <div flex>{{::foundProducto.sexo.nombreSexo}}</div>
                                </div>
                                <div layout="row" class="padd">
                                    <label flex>Proveedor</label>
                                    <div flex>{{foundProducto.facturaProducto.proveedor.nombreProveedor}}</div>
                                </div>
                                <div layout="row" class="padd">
                                    <label flex>N° Factura</label>
                                    <div flex>{{foundProducto.facturaProducto.numeroFactura}}</div>
                                </div>
                                <div layout="row" class="padd">
                                    <label flex>Fecha Factura</label>
                                    <div flex>{{foundProducto.facturaProducto.fechaFactura}}</div>
                                </div>
                            </form>                
                        </div>
                        <div class="md-padding" flex>
                            <center>                    
                                <div class="etiqueta-box" ng-cloak>
                                    <center>
                                        <div ng-bind="'Talla/edad: ' + foundProducto.talla" class="etiqueta"></div>
                                        <span kendo-barcode
                                              k-type="'code128'"
                                              ng-model="foundProducto.codigoProducto"
                                              style="width: 160px; height: 80px;">                                          
                                        </span>
                                        <div ng-bind="foundProducto.descripcion" class="etiqueta" style="font-size: 10pt; font-family: monospace"></div>
                                    </center>
                                </div>
                                <!-- CODIGO 34 X 38 CON TALLE-->
                                <div id="printable" class="etiqueta-box" ng-hide="true">
                                    <center>
                                        <div ng-bind="'Talla/edad: '+ foundProducto.talla" class="etiqueta"></div>
                                        <span kendo-barcode
                                              k-type="'code128'"
                                              ng-model="foundProducto.codigoProducto"
                                              style="width: 160px; height: 80px;">                                          
                                        </span>
                                        <div ng-bind="foundProducto.descripcion" class="etiqueta" style="font-size: 8pt; font-family: monospace"></div>
                                    </center>
                                </div>
                                <!-- BOTON 20 X 30  -->
                                <button ng-click="printDiv('printable');"
                                        style='margin-top: 10%;'
                                        class="btn btn-info">Imprimir codigo 20 x 30</button>
                                <!-- BOTON  34 X 38 -->
                                <button ng-click="printDiv('printable2');"
                                        style='margin-top: 10%;'
                                        class="btn btn-info">Imprimir codigo 34 x 38</button>
                            </center>
                        </div>
                    </div>
                    <div ng-hide="editarProducto" flex>
                        <md-content flex layout-padding>
                            <form name="updateProducto">
                                <div layout="row" flex>
                                    <md-input-container flex class="md-block">
                                        <label>Descripción</label>
                                        <input type="text"
                                               style="text-transform:uppercase;"
                                               maxlength="30"
                                               md-maxlength="30"
                                               minlength="5"
                                               ng-disabled="descripcionProducto"
                                               placeholder="Descripción del producto"
                                               ng-model="productoEdit.descripcion"
                                               name="descripcion" required/>
                                        <div ng-messages="updateProducto.descripcion.$error"
                                             ng-if='updateProducto.descripcion.$dirty || updateProducto.descripcion.$touched'>
                                            <div ng-message="minlength">Descripción demasiado corta.</div>
                                            <div ng-message="md-maxlength">Descripción demasiado larga.</div>
                                            <div ng-message="required">Este campo no puede estar vacio.</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container style="min-height: 48px;"
                                                        class="md-block"
                                                        flex ng-controller="MarcaController"
                                                        data-ng-init="listaMarcas()">
                                        <label>Marca</label>
                                        <md-select ng-model="productoEdit.marcas"
                                                   placeholder="Marca"
                                                   ng-disabled="categoriaProducto"
                                                   ng-model-options="{trackBy: '$value.idMarca'}"
                                                   data-ng-init="productoEdit.marcas"
                                                   required name="marca">                                            
                                            <md-option ng-value="marca"
                                                       ng-repeat="marca in marcas">{{marca.nombreMarca}}</md-option>                                            
                                        </md-select>
                                        <div ng-messages="updateProducto.marca.$error"
                                             ng-if="updateProducto.marca.$dirty || updateProducto.marca.$touched">
                                            <div ng-message="required">Este campo no puede estar vacio.</div>
                                        </div>
                                    </md-input-container>                           
                                </div>
                                <div layout="row" flex>
                                    <md-input-container style="min-height: 48px;"
                                                        class="md-block"
                                                        flex ng-controller="CategoriaController"
                                                        data-ng-init="listaCategorias()">
                                        <label>Categoria</label>
                                        <md-select ng-model="productoEdit.categoria"
                                                   placeholder="Categoria"
                                                   ng-disabled="categoriaProducto"
                                                   ng-model-options="{trackBy: '$value.idCategoria'}"
                                                   data-ng-init="productoEdit.categoria"
                                                   required name="categorias">                                            
                                            <md-option ng-value="categoria"
                                                       ng-repeat="categoria in categorias">{{categoria.nombreCategoria}}</md-option>                                            
                                        </md-select>
                                        <div ng-messages="updateProducto.categorias.$error"
                                             ng-if="updateProducto.categorias.$dirty || updateProducto.categorias.$touched">
                                            <div ng-message="required">Este campo no puede estar vacio.</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container style="min-height: 48px;"
                                                        class="md-block"
                                                        flex ng-controller="TemporadaController"
                                                        data-ng-init="listaTemporadas()">
                                        <label>Temporada</label>
                                        <md-select ng-model="productoEdit.temporada"
                                                   placeholder="Elige una temporada"
                                                   ng-disabled="temporadaProducto"
                                                   ng-model-options="{trackBy: '$value.idTemporada'}"
                                                   data-ng-init="productoEdit.temporada"
                                                   required name="temporadas">                                            
                                            <md-option ng-value="temporada"
                                                       ng-repeat="temporada in temporadas">{{temporada.nombreTemporada}}</md-option>                                            
                                        </md-select>
                                        <div ng-messages="updateProducto.temporadas.$error"
                                             ng-if="updateProducto.temporadas.$dirty || updateProducto.temporadas.$touched">
                                            <div ng-message="required">Este campo no puede estar vacio.</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div layout="row" flex>
                                    <md-input-container style="min-height: 48px;"
                                                        class="md-block"
                                                        flex data-ng-init="listaSexos()"
                                                        ng-controller="SexoController">
                                        <label>Sexo</label>
                                        <md-select ng-model="productoEdit.sexo"
                                                   placeholder="Elige un sexo"
                                                   ng-disabled="sexoProducto"
                                                   ng-model-options="{trackBy: '$value.idSexo'}"
                                                   data-ng-init="productoEdit.sexo"
                                                   required name="sexos">                                            
                                            <md-option ng-value="sexo"
                                                       ng-repeat="sexo in sexos">{{sexo.nombreSexo}}</md-option>                                            
                                        </md-select>
                                        <div ng-messages="updateProducto.sexos.$error"
                                             ng-if="updateProducto.sexos.$dirty || updateProducto.sexos.$touched">
                                            <div ng-message="required">Este campo no puede estar vacio.</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container flex class="md-block">
                                        <label>Talla</label>
                                        <input type="text"
                                               style="text-transform:uppercase;"
                                               maxlength="10"
                                               md-maxlength="10"
                                               minlength="1"
                                               ng-disabled="tallaProducto"
                                               placeholder="Talla del producto"
                                               ng-model="productoEdit.talla"
                                               name="talla" required/>
                                        <div ng-messages="updateProducto.talla.$error"
                                             ng-if='updateProducto.talla.$dirty || updateProducto.talla.$touched'>
                                            <div ng-message="minlength">Talla demasiado corta.</div>
                                            <div ng-message="md-maxlength">Talla demasiado larga.</div>
                                            <div ng-message="required">Este campo no puede estar vacio.</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div layout="row" flex>
                                    <md-input-container flex class="md-block">
                                        <label>Color</label>
                                        <input type="text"
                                               style="text-transform:uppercase;"
                                               maxlength="20"
                                               md-maxlength="20"
                                               minlength="1"
                                               ng-disabled="colorProducto"
                                               placeholder="Color del producto"
                                               ng-model="productoEdit.colorProducto"
                                               name="color" required/>
                                        <div ng-messages="updateProducto.color.$error"
                                             ng-if='updateProducto.color.$dirty || updateProducto.color.$touched'>
                                            <div ng-message="minlength">Nombre de color demasiado corto.</div>
                                            <div ng-message="md-maxlength">Nombre de color demasiado larg.</div>
                                            <div ng-message="required">Este campo no puede estar vacio.</div>
                                        </div>
                                    </md-input-container>
                                    <div layout="row" flex>
                                        <md-input-container class="md-block" flex>
                                            <label>Codigo</label>
                                            <input type="text"
                                                   ng-model="productoEdit.codigoProducto" 
                                                   name="codigo" required
                                                   minlength="8"
                                                   md-maxlength="30"
                                                   ng-disabled="codigoProducto"
                                                   placeholder="Codigo de barras"
                                                   required maxlength="30"/>
                                            <div ng-messages="updateProducto.codigo.$error"
                                                 ng-if='updateProducto.codigo.$dirty || updateProducto.codigo.$touched'>
                                                <div ng-message="minlength">Codigo de barras demasiado corto.</div>
                                                <div ng-message="md-maxlength">Codigo de barras demasiado larg.</div>
                                                <div ng-message="required">Este campo no puede estar vacio.</div>
                                            </div>
                                        </md-input-container>
                                        <div>
                                            <button class="btn btn-danger" style="margin-top: 12px;"
                                                    ng-click="productoEdit.codigoProducto = randomCode(
                                                                productoEdit.categoria.idCategoria,
                                                                productoEdit.marcas.idMarca)"
                                                    ng-disabled="productoEdit.codigoProducto"
                                                    type="button">Random</button>
                                        </div>
                                    </div>
                                </div>
                                <div layout="row" flex>
                                    <md-input-container class="md-block" flex>
                                        <label>Clase</label>
                                        <md-select ng-model="productoEdit.claseProducto"
                                                   placeholder="Elige una clase"
                                                   ng-disabled="claseProducto"
                                                   required name="clase">
                                            <md-option value="{{class.value}}"
                                                       ng-repeat="class in classes">{{ class.name}}</md-option>
                                        </md-select>
                                        <div ng-messages="updateProducto.clase.$error"
                                             ng-if="updateProducto.clase.$dirty || updateProducto.clase.$touched">
                                            <div ng-message="required">Este campo no puede estar vacio.</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container class="md-block" flex>
                                        <label>Stock</label>
                                        <input type="number"
                                               min="1"
                                               max="300"
                                               ng-disabled="stockProducto"
                                               placeholder="Ingresar stock total"
                                               ng-model="productoEdit.cantidadTotal" name="stock" required/>
                                        <div ng-messages="updateProducto.stock.$error"
                                             ng-if="updateProducto.stock.$dirty || updateProducto.stock.$touched">
                                            <div ng-message="required">Este campo no puede estar vacio.</div>
                                            <div ng-message="min">Cantidad de stock muy baja.</div>
                                            <div ng-message="max">Cantidad de stock demasiado grande.</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container class="md-block" flex>
                                        <label>Stock minimo</label>
                                        <input type="number"
                                               max="300"
                                               min="0"
                                               ng-disabled="minimoProducto"
                                               placeholder="Ingresar stock minimo"
                                               ng-model="productoEdit.cantidadMinima" name="minimo" required/>
                                        <div ng-messages="updateProducto.minimo.$error"
                                             ng-if="updateProducto.minimo.$dirty || updateProducto.minimo.$touched">                                
                                            <div ng-message="min">Cantidad de stock muy baja.</div>
                                            <div ng-message="max">Cantidad de stock demasiado grande.</div>
                                            <div ng-message="required">Este campo no puede estar vacio.</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container class="md-block" flex>
                                        <label>Costo real</label>
                                        <input type="number"
                                               max="999999"
                                               min="0"
                                               placeholder="0000.00"
                                               ng-model="productoEdit.precioLista" name="lista" required/>
                                        <div ng-messages="updateProducto.lista.$error"
                                             ng-if="updateProducto.lista.$dirty || updateProducto.lista.$touched">                                
                                            <div ng-message="min">Precio invalido, es muy bajo.</div>
                                            <div ng-message="max">Precio invalido, es muy grande.</div>
                                            <div ng-message="required">Este campo no puede estar vacio.</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container class="md-block" flex>
                                        <label>Precio de Costo</label>
                                        <input type="number"
                                               max="999999"
                                               min="0"
                                               placeholder="0000.00"
                                               ng-model="productoEdit.precioCosto" name="costo" required/>
                                        <div ng-messages="updateProducto.costo.$error"
                                             ng-if="updateProducto.costo.$dirty || updateProducto.costo.$touched">                                
                                            <div ng-message="min">Precio invalido, es muy bajo.</div>
                                            <div ng-message="max">Precio invalido, es muy grande.</div>
                                            <div ng-message="required">Este campo no puede estar vacio.</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container class="md-block" flex>
                                        <label>Precio de Venta</label>
                                        <input type="number"
                                               max="999999"
                                               min="0"
                                               placeholder="0000.00"
                                               ng-model="productoEdit.precioVenta" name="venta" required/>
                                        <div ng-messages="updateProducto.venta.$error"
                                             ng-if="updateProducto.venta.$dirty || updateProducto.venta.$touched">                                
                                            <div ng-message="min">Precio invalido, es muy bajo.</div>
                                            <div ng-message="max">Precio invalido, es muy grande.</div>
                                            <div ng-message="required">Este campo no puede estar vacio.</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <button class="btn btn-success pull-right"
                                        ng-click="modificarProducto(productoEdit)"
                                        ng-disabled="updateProducto.$invalid"
                                        >Modificar</button>
                            </form>
                        </md-content>
                    </div>            
                </md-content>
            </md-content>
        </div>
    </div>
</div>

<div id="printable2" ng-hide="true" style="margin-top: 50%;">
    <div class="row">
        <div style="float: left; text-align: center; font-family: monospace; font-size: small;">
            <div style="font-family: monospace;">Talla: {{foundProducto.talla}}</div>
            <io-barcode options="options" code="{{foundProducto.codigoProducto}}" type="CODE128C"></io-barcode>
        </div>
        <div style="float: right; text-align: center; font-family: monospace; font-size: small;">
            <div style="font-family: monospace;">Talla: {{foundProducto.talla}}</div>
            <io-barcode options="options" code="{{foundProducto.codigoProducto}}" type="CODE128C"></io-barcode>
        </div>
    </div>                
</div>
<!-- CODIGO 20 X 30 CON DESCRIPCION Y TALLE-->
<div id="printable" ng-hide="true" style="margin-top: 50%;">
    <div class="row">
        <div style="float: left; text-align: center; font-family: monospace; font-size: small;">
            <div class="etiqueta">T-N: {{foundProducto.talla}}</div>
            <span kendo-barcode
                  k-type="'code128'"
                  ng-model="foundProducto.codigoProducto"
                  style="width: 100px; height: 40px;"></span>   
        </div>
        <div style="float: right; text-align: center; font-family: monospace; font-size: small;">
            <div class="etiqueta">T-N: {{foundProducto.talla}}</div>
            <span kendo-barcode
                  k-type="'code128'"
                  ng-model="foundProducto.codigoProducto"
                  style="width: 100px; height: 40px;"></span>   
        </div>
    </div>                
</div>
</div>


<div class="modal fade" id="myModalDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Eliminar producto</h4>
            </div>
            <div class="modal-body">
                <center>
                    ¿Desea eliminar esta Producto?
                    <br>
                    <button class="btn btn-danger"
                            ng-click="eliminarProducto()"
                            data-dismiss="modal"
                            >Eliminar</button>
                </center>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<script>
    var ipcRenderer = require("electron").ipcRenderer;
    function sendCommandToWorker(content) {
    ipcRenderer.send("printPDF", content);
    //ipcRenderer.send("printer");
    }
</script>
