<!DOCTYPE html>
<div layout="row"
     layout-align="center"
     layout-xs="row">
    <div layout="column"
         layout-xs="column"
         flex-gt-sm="70"
         flex-sm="100"
         data-ng-init="vm.buscarProducto()"         
         ng-show="vm.foundProducto">
        <div ng-cloak>
            <md-content md-theme="docs-dark" style="min-height: 598px;">
                <md-toolbar class="md-accent">
                    <div class="md-toolbar-tools">
                        <h4 class="md-flex" style="width:100%;">
                            # {{vm.foundProducto.idProducto}}
                            <div style="float: right;">
                                <a href='' ng-show="vm.editarProducto"
                                   ng-click="vm.hidePanelProducto(vm.foundProducto)"
                                   style="color: #000;">Editar</a>
                                <a href='' ng-hide="vm.editarProducto"
                                   ng-click="vm.editarProducto = true"
                                   style="color: #000;">Cerrar</a> /
                                <a href='' 
                                   ng-click="vm.eliminarProductoDetalle(vm.foundProducto)"
                                   style="color: #000;">Eliminar</a>
                            </div>
                        </h4>
                    </div>
                </md-toolbar>
                <md-content flex>
                    <div ng-show="vm.editarProducto" flex layout="row">
                        <div class="md-padding" flex>
                            <form class="md-padding">
                                <div layout="row" class="padd">
                                    <label flex>Descripcion</label>                
                                    <div flex>{{::vm.foundProducto.descripcion}}</div>
                                </div>
                                <div layout="row" class="padd">
                                    <label flex>Color</label>
                                    <div flex>{{::vm.foundProducto.colorProducto}}</div>  
                                </div>
                                <div layout="row" class="padd">
                                    <label flex>Talla</label>            
                                    <div flex>{{::vm.foundProducto.talla| uppercase}}</div>
                                </div>
                                <div layout="row" class="padd">
                                    <label flex>Precio costo</label>
                                    <div flex>{{::vm.foundProducto.precioCosto|currency}}</div>
                                </div>
                                <div layout="row" class="padd">
                                    <label flex>Precio venta</label>
                                    <div flex>{{::vm.foundProducto.precioVenta|currency}}</div>
                                </div>
                                <div layout="row" class="padd">
                                    <label flex>Cantidad en stock</label>
                                    <div flex>{{::vm.foundProducto.cantidadTotal}}</div>
                                </div>
                                <div layout="row" class="padd">
                                    <label flex>Marca</label>
                                    <div flex>{{::vm.foundProducto.marcas.nombreMarca}}</div>
                                </div>
                                <div layout="row" class="padd">
                                    <label flex>Categoria</label>
                                    <div flex>{{::vm.foundProducto.categoria.nombreCategoria}}</div>
                                </div>
                                <div layout="row" class="padd">
                                    <label flex>Temporada</label>
                                    <div flex>{{::vm.foundProducto.temporada.nombreTemporada}}</div>
                                </div>
                                <div layout="row" class="padd">
                                    <label flex>Sexo</label>
                                    <div flex>{{::vm.foundProducto.sexo.nombreSexo}}</div>
                                </div>
                                <div layout="row" class="padd">
                                    <label flex>Proveedor</label>
                                    <div flex>{{vm.foundProducto.facturaProducto.proveedor.nombreProveedor}}</div>
                                </div>
                                <div layout="row" class="padd">
                                    <label flex>N° Factura</label>
                                    <div flex>{{vm.foundProducto.facturaProducto.numeroFactura}}</div>
                                </div>
                                <div layout="row" class="padd">
                                    <label flex>Fecha Factura</label>
                                    <div flex>{{vm.foundProducto.facturaProducto.fechaFactura}}</div>
                                </div>
                            </form>                
                        </div>
                        <div class="md-padding" flex>
                            <center>                    
                                <div class="etiqueta-box" ng-cloak>
                                    <center>
                                        <div ng-bind="'T-N ' + vm.foundProducto.talla" class="etiqueta"></div>
                                        <span kendo-barcode
                                              k-type="'code128'"
                                              ng-model="vm.foundProducto.codigoProducto"
                                              style="width: 160px; height: 80px;">                                          
                                        </span>
                                        <div ng-bind="vm.foundProducto.descripcion"
                                             class="etiqueta"
                                             style="font-size: 10pt; font-family: monospace"></div>
                                    </center>
                                </div>
                                <!-- CODIGO 20 X 30 CON TALLE-->
                                <div id="printable"
                                     ng-hide="true">
                                    <div class="row">
                                        <div style="float: left; text-align: center; font-size: smaller;">
                                            <div class="etiqueta">T-N: {{vm.foundProducto.talla}}</div>
                                            <span kendo-barcode
                                                  k-type="'code128'"
                                                  ng-model="vm.foundProducto.codigoProducto"
                                                  style="width: 100px; height: 40px;"></span>
                                        </div>
                                        <div style="float: right; text-align: center; font-size: smaller;">
                                            <div class="etiqueta">T-N: {{vm.foundProducto.talla}}</div>
                                            <span kendo-barcode
                                                  k-type="'code128'"
                                                  ng-model="vm.foundProducto.codigoProducto"
                                                  style="width: 100px; height: 40px;"></span>
                                        </div>
                                    </div>     
                                </div>
                                <!-- CODIGO 20 X 30 CON TALLE-->
                                <div id="printableIzq"
                                     ng-hide="true">
                                    <div class="row">
                                        <div style="float: left; text-align: center; font-size: smaller;">
                                            <div class="etiqueta">T-N: {{vm.foundProducto.talla}}</div>
                                            <span kendo-barcode
                                                  k-type="'code128'"
                                                  ng-model="vm.foundProducto.codigoProducto"
                                                  style="width: 100px; height: 40px;"></span>
                                        </div>
                                    </div>     
                                </div>
                                <!-- CODIGO 20 X 30 CON TALLE-->
                                <div id="printableDer"
                                     ng-hide="true">
                                    <div class="row">
                                        <div style="float: right; text-align: center; font-size: smaller;">
                                            <div class="etiqueta">T-N: {{vm.foundProducto.talla}}</div>
                                            <span kendo-barcode
                                                  k-type="'code128'"
                                                  ng-model="vm.foundProducto.codigoProducto"
                                                  style="width: 100px; height: 40px;"></span>
                                        </div>
                                    </div>     
                                </div>                                
                                <!-- CODIGO 34 X 38 CON TALLE-->
                                <div id="printable2"
                                     ng-hide="true">
                                    <div class="row">
                                        <div style="float: left; text-align: center; font-size: smaller;">
                                            <center>
                                                <div class="etiqueta">
                                                    T-N: {{vm.foundProducto.talla}}
                                                </div>
                                                <span kendo-barcode
                                                      k-type="'code128'"
                                                      ng-model="vm.foundProducto.codigoProducto"
                                                      style="width: 100px; height: 40px;"></span>
                                                <div style="font-size: x-small;">
                                                    {{vm.foundProducto.descripcion}}
                                                </div>
                                            </center>
                                        </div>
                                        <div style="float: right; text-align: center; font-size: smaller;">
                                            <center>
                                                <div class="etiqueta">
                                                    T-N: {{vm.foundProducto.talla}}
                                                </div>
                                                <span kendo-barcode
                                                      k-type="'code128'"
                                                      ng-model="vm.foundProducto.codigoProducto"
                                                      style="width: 100px; height: 40px;"></span>
                                                <div style="font-size: x-small;">
                                                    {{vm.foundProducto.descripcion}}
                                                </div>
                                            </center>
                                        </div>
                                    </div>     
                                </div>
                                <div id="printable2Izq"
                                     ng-hide="true">
                                    <div class="row">
                                        <div style="float: left; text-align: center; font-size: smaller;">
                                            <center>
                                                <div class="etiqueta">
                                                    T-N: {{vm.foundProducto.talla}}
                                                </div>
                                                <span kendo-barcode
                                                      k-type="'code128'"
                                                      ng-model="vm.foundProducto.codigoProducto"
                                                      style="width: 100px; height: 40px;"></span>
                                                <div style="font-size: x-small;">
                                                    {{vm.foundProducto.descripcion}}
                                                </div>
                                            </center>
                                        </div>
                                    </div>     
                                </div>
                                <div id="printable2Der"
                                     ng-hide="true">
                                    <div class="row">
                                        <div style="float: right; text-align: center; font-size: smaller;">
                                            <center>
                                                <div class="etiqueta">
                                                    T-N: {{vm.foundProducto.talla}}
                                                </div>
                                                <span kendo-barcode
                                                      k-type="'code128'"
                                                      ng-model="vm.foundProducto.codigoProducto"
                                                      style="width: 100px; height: 40px;"></span>
                                                <div style="font-size: x-small;">
                                                    {{vm.foundProducto.descripcion}}
                                                </div>
                                            </center>
                                        </div>
                                    </div>     
                                </div>                                
                                <div layout="row" style="margin-top: 5%;" layout-margin>
                                    <div flex>
                                        <div layout="column">
                                            <p flex 
                                               style="text-align: center; font-weight: bold;">
                                                Imprimir 20mm x 30mm
                                            </p>
                                            <!-- BOTON 20 X 30  -->
                                            <button ng-click="vm.printDiv('printable', vm.foundProducto, 'doble20x30', true);"
                                                    style='margin-top: 10%;' flex
                                                    class="btn btn-info">Doble</button>
                                            <!-- BOTON 20 X 30  -->
                                            <button ng-click="vm.printDiv('printableIzq', vm.foundProducto, 'izquierda20x30', true);"
                                                    style='margin-top: 10%;' flex
                                                    class="btn btn-info">Izquierda</button>
                                            <!-- BOTON 20 X 30  -->
                                            <button ng-click="vm.printDiv('printableDer', vm.foundProducto, 'derecha20x30', true);"
                                                    style='margin-top: 10%;' flex
                                                    class="btn btn-info">Derecha</button>
                                        </div>
                                    </div>                                    
                                    <div flex>
                                        <div layout="column">
                                            <p flex 
                                               style="text-align: center; font-weight: bold;">
                                                Imprimir 34mm x 38mm
                                            </p>
                                            <!-- BOTON  34 X 38 -->
                                            <button ng-click="vm.printDiv('printable2', vm.foundProducto, 'doble34x38', false);"
                                                    style='margin-top: 10%;' flex
                                                    class="btn btn-info">Doble</button>
                                            <!-- BOTON  34 X 38 -->
                                            <button ng-click="vm.printDiv('printable2Izq', vm.foundProducto, 'izquierda34x38', false);"
                                                    style='margin-top: 10%;' flex
                                                    class="btn btn-info">Izquierda</button>
                                            <!-- BOTON  34 X 38 -->
                                            <button ng-click="vm.printDiv('printable2Der', vm.foundProducto, 'derecha34x38', false);"
                                                    style='margin-top: 10%;' flex
                                                    class="btn btn-info">Derecha</button>
                                        </div>
                                    </div>

                                </div>
                            </center>
                        </div>
                    </div>
                    <div ng-hide="vm.editarProducto" flex>
                        <md-content flex layout-padding>
                            <form name="updateProducto">
                                <div layout="row" flex>
                                    <md-input-container flex class="md-block">
                                        <label>Descripción</label>
                                        <input type="text"
                                               style="text-transform:uppercase;"
                                               maxlength="30"
                                               md-maxlength="30"
                                               minlength="5"
                                               placeholder="Descripción del producto"
                                               ng-model="vm.productoEdit.descripcion"
                                               name="descripcion" required/>
                                        <div ng-messages="updateProducto.descripcion.$error"
                                             ng-if='updateProducto.descripcion.$dirty || updateProducto.descripcion.$touched'>
                                            <div ng-message="minlength">Descripción demasiado corta.</div>
                                            <div ng-message="md-maxlength">Descripción demasiado larga.</div>
                                            <div ng-message="required">Este campo no puede estar vacio.</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container style="min-height: 48px;"
                                                        class="md-block"
                                                        flex ng-controller="MarcaController as maCtrl"
                                                        data-ng-init="maCtrl.listaMarcas()">
                                        <label>Marca</label>
                                        <md-select ng-model="vm.productoEdit.marcas"
                                                   placeholder="Marca"
                                                   ng-model-options="{trackBy: '$value.idMarca'}"
                                                   data-ng-init="vm.productoEdit.marcas"
                                                   required name="marca">                                            
                                            <md-option ng-value="marca"
                                                       ng-repeat="marca in marcas">{{marca.nombreMarca}}</md-option>                                            
                                        </md-select>
                                        <div ng-messages="updateProducto.marca.$error"
                                             ng-if="updateProducto.marca.$dirty || updateProducto.marca.$touched">
                                            <div ng-message="required">Este campo no puede estar vacio.</div>
                                        </div>
                                    </md-input-container>                           
                                </div>
                                <div layout="row" flex>
                                    <md-input-container style="min-height: 48px;"
                                                        class="md-block"
                                                        flex ng-controller="CategoriaController as caCtrl"
                                                        data-ng-init="caCtrl.listaCategorias()">
                                        <label>Categoria</label>
                                        <md-select ng-model="vm.productoEdit.categoria"
                                                   placeholder="Categoria"
                                                   ng-model-options="{trackBy: '$value.idCategoria'}"
                                                   data-ng-init="vm.productoEdit.categoria"
                                                   required name="categorias">                                            
                                            <md-option ng-value="categoria"
                                                       ng-repeat="categoria in categorias">{{categoria.nombreCategoria}}</md-option>                                            
                                        </md-select>
                                        <div ng-messages="updateProducto.categorias.$error"
                                             ng-if="updateProducto.categorias.$dirty || updateProducto.categorias.$touched">
                                            <div ng-message="required">Este campo no puede estar vacio.</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container style="min-height: 48px;"
                                                        class="md-block"
                                                        flex ng-controller="TemporadaController as teCtrl"
                                                        data-ng-init="teCtrl.listaTemporadas()">
                                        <label>Temporada</label>
                                        <md-select ng-model="vm.productoEdit.temporada"
                                                   placeholder="Elige una temporada"
                                                   ng-model-options="{trackBy: '$value.idTemporada'}"
                                                   data-ng-init="vm.productoEdit.temporada"
                                                   required name="temporadas">                                            
                                            <md-option ng-value="temporada"
                                                       ng-repeat="temporada in temporadas">{{temporada.nombreTemporada}}</md-option>                                            
                                        </md-select>
                                        <div ng-messages="updateProducto.temporadas.$error"
                                             ng-if="updateProducto.temporadas.$dirty || updateProducto.temporadas.$touched">
                                            <div ng-message="required">Este campo no puede estar vacio.</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div layout="row" flex>
                                    <md-input-container style="min-height: 48px;"
                                                        class="md-block"
                                                        ng-controller="SexoController as seCtrl"
                                                        flex data-ng-init="seCtrl.listaSexos()">
                                        <label>Sexo</label>
                                        <md-select ng-model="vm.productoEdit.sexo"
                                                   placeholder="Elige un sexo"
                                                   ng-model-options="{trackBy: '$value.idSexo'}"
                                                   data-ng-init="vm.productoEdit.sexo"
                                                   required name="sexos">                                            
                                            <md-option ng-value="sexo"
                                                       ng-repeat="sexo in sexos">{{sexo.nombreSexo}}</md-option>                                            
                                        </md-select>
                                        <div ng-messages="updateProducto.sexos.$error"
                                             ng-if="updateProducto.sexos.$dirty || updateProducto.sexos.$touched">
                                            <div ng-message="required">Este campo no puede estar vacio.</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container flex class="md-block">
                                        <label>Talla</label>
                                        <input type="text"
                                               style="text-transform:uppercase;"
                                               maxlength="10"
                                               md-maxlength="10"
                                               minlength="1"
                                               placeholder="Talla del producto"
                                               ng-model="vm.productoEdit.talla"
                                               name="talla" required/>
                                        <div ng-messages="updateProducto.talla.$error"
                                             ng-if='updateProducto.talla.$dirty || updateProducto.talla.$touched'>
                                            <div ng-message="minlength">Talla demasiado corta.</div>
                                            <div ng-message="md-maxlength">Talla demasiado larga.</div>
                                            <div ng-message="required">Este campo no puede estar vacio.</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div layout="row" flex>
                                    <md-input-container flex class="md-block">
                                        <label>Color</label>
                                        <input type="text"
                                               style="text-transform:uppercase;"
                                               maxlength="20"
                                               md-maxlength="20"
                                               minlength="1"
                                               placeholder="Color del producto"
                                               ng-model="vm.productoEdit.colorProducto"
                                               name="color" required/>
                                        <div ng-messages="updateProducto.color.$error"
                                             ng-if='updateProducto.color.$dirty || updateProducto.color.$touched'>
                                            <div ng-message="minlength">Nombre de color demasiado corto.</div>
                                            <div ng-message="md-maxlength">Nombre de color demasiado larg.</div>
                                            <div ng-message="required">Este campo no puede estar vacio.</div>
                                        </div>
                                    </md-input-container>
                                    <div layout="row" flex>
                                        <md-input-container class="md-block" flex>
                                            <label>Codigo</label>
                                            <input type="text"
                                                   ng-model="vm.productoEdit.codigoProducto" 
                                                   name="codigo" required
                                                   minlength="8"
                                                   md-maxlength="30"
                                                   ng-disabled="codigoProducto"
                                                   placeholder="Codigo de barras"
                                                   required maxlength="30"/>
                                            <div ng-messages="updateProducto.codigo.$error"
                                                 ng-if='updateProducto.codigo.$dirty || updateProducto.codigo.$touched'>
                                                <div ng-message="minlength">Codigo de barras demasiado corto.</div>
                                                <div ng-message="md-maxlength">Codigo de barras demasiado larg.</div>
                                                <div ng-message="required">Este campo no puede estar vacio.</div>
                                            </div>
                                        </md-input-container>
                                        <div>
                                            <button class="btn btn-danger" style="margin-top: 12px;"
                                                    ng-click="vm.productoEdit.codigoProducto = vm.randomCode(
                                                                vm.productoEdit.categoria.idCategoria,
                                                                vm.productoEdit.marcas.idMarca)"
                                                    ng-disabled="vm.productoEdit.codigoProducto"
                                                    type="button">Random</button>
                                        </div>
                                    </div>
                                </div>
                                <div layout="row" flex>
                                    <md-input-container class="md-block" flex>
                                        <label>Clase</label>
                                        <md-select ng-model="vm.productoEdit.claseProducto"
                                                   placeholder="Elige una clase"
                                                   required name="clase">
                                            <md-option value="{{class.value}}"
                                                       ng-repeat="class in vm.classes">{{ class.name}}</md-option>
                                        </md-select>
                                        <div ng-messages="updateProducto.clase.$error"
                                             ng-if="updateProducto.clase.$dirty || updateProducto.clase.$touched">
                                            <div ng-message="required">Este campo no puede estar vacio.</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container class="md-block" flex>
                                        <label>Stock</label>
                                        <input type="number"
                                               min="1"
                                               max="300"
                                               placeholder="Ingresar stock total"
                                               ng-model="vm.productoEdit.cantidadTotal" name="stock" required/>
                                        <div ng-messages="updateProducto.stock.$error"
                                             ng-if="updateProducto.stock.$dirty || updateProducto.stock.$touched">
                                            <div ng-message="required">Este campo no puede estar vacio.</div>
                                            <div ng-message="min">Cantidad de stock muy baja.</div>
                                            <div ng-message="max">Cantidad de stock demasiado grande.</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container class="md-block" flex>
                                        <label>Stock minimo</label>
                                        <input type="number"
                                               max="300"
                                               min="0"
                                               placeholder="Ingresar stock minimo"
                                               ng-model="vm.productoEdit.cantidadMinima" name="minimo" required/>
                                        <div ng-messages="updateProducto.minimo.$error"
                                             ng-if="updateProducto.minimo.$dirty || updateProducto.minimo.$touched">                                
                                            <div ng-message="min">Cantidad de stock muy baja.</div>
                                            <div ng-message="max">Cantidad de stock demasiado grande.</div>
                                            <div ng-message="required">Este campo no puede estar vacio.</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container class="md-block" flex>
                                        <label>Costo real</label>
                                        <input type="number"
                                               max="999999"
                                               min="0"
                                               placeholder="0000.00"
                                               ng-model="vm.productoEdit.precioLista" name="lista" required/>
                                        <div ng-messages="updateProducto.lista.$error"
                                             ng-if="updateProducto.lista.$dirty || updateProducto.lista.$touched">                                
                                            <div ng-message="min">Precio invalido, es muy bajo.</div>
                                            <div ng-message="max">Precio invalido, es muy grande.</div>
                                            <div ng-message="required">Este campo no puede estar vacio.</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container class="md-block" flex>
                                        <label>Precio de Costo</label>
                                        <input type="number"
                                               max="999999"
                                               min="0"
                                               placeholder="0000.00"
                                               ng-model="vm.productoEdit.precioCosto" name="costo" required/>
                                        <div ng-messages="updateProducto.costo.$error"
                                             ng-if="updateProducto.costo.$dirty || updateProducto.costo.$touched">                                
                                            <div ng-message="min">Precio invalido, es muy bajo.</div>
                                            <div ng-message="max">Precio invalido, es muy grande.</div>
                                            <div ng-message="required">Este campo no puede estar vacio.</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container class="md-block" flex>
                                        <label>Precio de Venta</label>
                                        <input type="number"
                                               max="999999"
                                               min="0"
                                               placeholder="0000.00"
                                               ng-model="vm.productoEdit.precioVenta" name="venta" required/>
                                        <div ng-messages="updateProducto.venta.$error"
                                             ng-if="updateProducto.venta.$dirty || updateProducto.venta.$touched">                                
                                            <div ng-message="min">Precio invalido, es muy bajo.</div>
                                            <div ng-message="max">Precio invalido, es muy grande.</div>
                                            <div ng-message="required">Este campo no puede estar vacio.</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <button class="btn btn-success pull-right"
                                        ng-click="vm.modificarProducto(vm.productoEdit)"
                                        ng-disabled="updateProducto.$invalid">
                                    Modificar
                                </button>
                            </form>
                        </md-content>
                    </div>            
                </md-content>
            </md-content>
        </div>
    </div>
</div>
<script>
    var ipcRenderer = require("electron").ipcRenderer;
    function sendCommandToWorker(content) {
    ipcRenderer.send("printPDF", content);
    //ipcRenderer.send("printer");
    }
</script>
