<!DOCTYPE html>
<div class="ngdialog-message ngdialog-advertencia" md-theme="docs-dark">
    <md-toolbar class="md-accent">
        <div class="md-toolbar-tools">
            <h3 class="modal-title" style="width: 100%; text-align: center;">
                <div ng-hide="ngDialogData.producto.estadoDistribucion">CONFIRMAR</div>
                <div ng-show="ngDialogData.producto.estadoDistribucion">ADVERTENCIA</div>
            </h3>
        </div>
    </md-toolbar>
    <md-content flex>
        <md-content class="md-padding" flex>
            <md-whiteframe class="md-whiteframe-24dp"
                           style="min-height: 250px;"                           
                           layout layout-align="center center">
                <form style="text-align: center;">
                    <div flex class="md-padding" ng-show="ngDialogData.producto.estadoDistribucion">
                        <span style="font-size: medium; font-weight: bold;">Este producto ya ha sido distribuido, no puedes eliminarlo.</span>
                        <div flex class="md-padding">
                            <button class="btn btn-md btn-danger" ng-click="closeThisDialog(0)">Cerrar</button>
                        </div>
                    </div>
                    <div flex class="md-padding" ng-hide="ngDialogData.producto.estadoDistribucion">
                        <span style="font-size: medium; font-weight: bold;">¿Estas seguro de que quieres eliminar este producto?</span>
                        <div flex class="md-padding">
                            <button class="btn btn-md btn-success"
                                    style="width: 50px;"
                                    ng-click="vm.confirmarEliminarProductoDetalle(ngDialogData.producto)">Si</button>
                            <button class="btn btn-md btn-danger"
                                    style="width: 50px;"
                                    ng-click="closeThisDialog(0)">No</button>
                        </div>
                    </div>

                </form>
            </md-whiteframe>
        </md-content>
    </md-content>    
</div>
