<!DOCTYPE html>
<div layout="column"
     layout-margin
     style="height: 100%;"
     layout-xs="column">
    <div layout="column" layout-xs="column" flex
         ng-cloak  md-theme="docs-dark" class="distribucion-panel">
        <md-content md-theme="docs-dark" style="min-height: 598px;">
            <md-tabs md-dynamic-height md-border-bottom
                     md-no-ink-bar="false"
                     md-stretch-tabs="always"
                     md-center-tabs="true"
                     md-selected="tabs">
                <md-tab label="Tipos de producto">
                    <md-content class="md-padding" layout="row" flex>
                        <div class="table-responsive" flex>
                            <table data-ng-init="vm.listaTipo()"
                                   ng-table="tableTipos"
                                   class="table table-hover table-condensed table-striped light-table">
                                <thead id="headTableProductos">
                                    <tr>
                                        <th style="text-align: center">ID</th>
                                        <th style="text-align: center">Nombre</th> 
                                        <th style="text-align: center">Fecha</th> 
                                        <th style="text-align: center">Acciones</th> 
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="tipo in $data">
                                        <th style="text-align: center">{{::tipo.idTipo}}</th>
                                        <th style="text-align: center">{{::tipo.nombreTipo}}</th>                        
                                        <th style="text-align: center">{{::tipo.fechaCreacion}}</th>                        
                                        <th style="text-align: center">
                                            <button type="button"
                                                    class="btn btn-xs btn-info"
                                                    ng-click="vm.hidePanelTipo(tipo)">
                                                <md-tooltip md-direction="top" md-theme="default">
                                                    Modificar
                                                </md-tooltip>
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </button>
                                            <button type="button"
                                                    class="btn btn-xs btn-danger"
                                                    ng-click="vm.eliminarTipo(tipo)">
                                                <md-tooltip md-direction="top" md-theme="default">
                                                    Eliminar
                                                </md-tooltip>
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </th>                        
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div flex="45" ng-hide="vm.panelTipoEdit" class="show-hide">
                            <p flex style="text-align: center; font-weight: bold">
                                Modificar Tipo de producto #{{vm.editTipo.idTipo}}
                                <button class="pull-right"
                                        ng-click="vm.panelTipoEdit = true"
                                        style="background: transparent; border: none;">
                                    <md-tooltip md-direction="top" md-theme="default">
                                        Cerrar panel
                                    </md-tooltip>
                                    <md-icon class="material-icons">&#xE14C;</md-icon>
                                </button>
                            </p>
                            <md-content class="md-padding">
                                <form name="updateTipo" style="margin-top: 30px;">
                                    <md-input-container class="md-block md-icon" flex>
                                        <label>Nombre tipo de producto</label>
                                        <md-icon class="material-icons">&#xE150;</md-icon>
                                        <input type="text"
                                               maxlength="20"
                                               md-maxlength="20"
                                               minlength="4"
                                               placeholder="Ingrese nombre del tipo de producto"
                                               ng-model="vm.editTipo.nombreTipo" name="tipo" required/>
                                        <!-- MENSAJES-->
                                        <div ng-messages="updateTipo.tipo.$error"
                                             ng-if='updateTipo.tipo.$dirty || updateTipo.tipo.$touched'>
                                            <div ng-message="minlength">Nombre demasiado corto.</div>
                                            <div ng-message="md-maxlength">Nombre demasiado largo.</div>
                                            <div ng-message="required">Este campo no puede estar vacio.</div>
                                        </div>
                                    </md-input-container>
                                    <div class="md-block" flex>
                                        <div style="text-align: center;">
                                            <button ng-click="vm.modificarTipo(vm.editTipo)"
                                                    type="submit" class="btn btn-success"
                                                    ng-disabled="updateTipo.$invalid" style="margin-top: 5%;">Modificar</button>
                                        </div> 
                                    </div>
                                </form>
                            </md-content>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Agregar nuevo Tipo de producto">
                    <md-content class="md-padding" layout="row">                            
                        <div flex="60" flex-offset="20">
                            <form name="nuevoTipo">
                                <md-input-container class="md-block md-icon" flex>
                                    <label>Nombre tipo de producto</label>
                                    <md-icon class="material-icons">&#xE150;</md-icon>
                                    <input type="text"
                                           maxlength="20"
                                           md-maxlength="20"
                                           minlength="4"
                                           placeholder="Ingrese nombre del tipo de producto"
                                           ng-model="vm._tipo.nombreTipo" name="tipo" required/>
                                    <!-- MENSAJES-->
                                    <div ng-messages="nuevoTipo.tipo.$error"
                                         ng-if='nuevoTipo.tipo.$dirty || nuevoTipo.tipo.$touched'>
                                        <div ng-message="minlength">Nombre demasiado corto.</div>
                                        <div ng-message="md-maxlength">Nombre demasiado largo.</div>
                                        <div ng-message="required">Este campo no puede estar vacio.</div>
                                    </div>
                                </md-input-container>
                                <div class="md-block" flex style="text-align: center;">                                        
                                    <button ng-click="vm.agregarTipo(vm._tipo)"
                                            type="submit" class="btn btn-success"
                                            ng-disabled="nuevoTipo.$invalid" style="margin-top: 5%;">
                                        Agregar
                                    </button>                                                                            
                                </div>
                            </form>
                        </div>   
                    </md-content>
                </md-tab>
            </md-tabs>                    
        </md-content>        
    </div>
</div>