<!DOCTYPE html>
<div class="col-lg-12">
    <div class="distribucion-panel">
        <div ng-cloak>
            <md-content md-theme="docs-dark" style="min-height: 598px;">
                <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab label="Tipos de producto">
                        <md-content class="md-padding" layout="row" flex>
                            <div class="table-responsive" flex>
                                <table data-ng-init="listaTipo()"
                                       ng-table="tableTipos"
                                       class="table table-hover table-condensed table-striped light-table">
                                    <thead id="headTableProductos">
                                        <tr>
                                            <th style="text-align: center">ID</th>
                                            <th style="text-align: center">Nombre</th> 
                                            <th style="text-align: center">Fecha</th> 
                                            <th style="text-align: center">Acciones</th> 
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="tipo in $data">
                                            <th style="text-align: center">{{::tipo.idTipo}}</th>
                                            <th style="text-align: center">{{::tipo.nombreTipo}}</th>                        
                                            <th style="text-align: center">{{::tipo.fechaCreacion}}</th>                        
                                            <th style="text-align: center">
                                                <button type="button"
                                                        class="btn btn-xs btn-info"
                                                        ng-click="hidePanelTipo(tipo)">
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                </button>
                                                <button type="button"
                                                        class="btn btn-xs btn-danger"
                                                        ng-click="eliminarTipo(tipo)">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </button>
                                            </th>                        
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div flex="45" ng-hide="panelTipoEdit" class="show-hide">
                                <p flex style="text-align: center; font-weight: bold">
                                    Modificar Categoria #{{editTipo.idTipo}}
                                    <button class="pull-right"
                                            ng-click="panelTipoEdit = true"
                                            style="background: transparent; border: none;">
                                        <md-icon class="material-icons">&#xE14C;</md-icon>
                                    </button>
                                </p>
                                <md-content class="md-padding">
                                    <form name="updateTipo" style="margin-top: 30px;">
                                        <md-input-container class="md-block md-icon" flex>
                                            <label>Nombre tipo de producto</label>
                                            <md-icon class="material-icons">&#xE150;</md-icon>
                                            <input type="text"
                                                   maxlength="20"
                                                   md-maxlength="20"
                                                   minlength="4"
                                                   placeholder="Ingrese nombre del tipo de producto"
                                                   ng-model="editTipo.nombreTipo" name="tipo" required/>
                                            <!-- MENSAJES-->
                                            <div ng-messages="updateTipo.tipo.$error"
                                                 ng-if='updateTipo.tipo.$dirty || updateTipo.tipo.$touched'>
                                                <div ng-message="minlength">Nombre demasiado corto.</div>
                                                <div ng-message="md-maxlength">Nombre demasiado largo.</div>
                                                <div ng-message="required">Este campo no puede estar vacio.</div>
                                            </div>
                                            <!-- ICONOS DE MENSAJE-->
                                            <span ng-show="updateTipo.tipo.$dirty && updateTipo.tipo.$valid" class="glyphicon glyphicon-ok form-control-feedback" ></span>
                                            <span ng-show="updateTipo.tipo.$dirty && updateTipo.tipo.$invalid" class="glyphicon glyphicon-remove  form-control-feedback"></span>
                                        </md-input-container>
                                        <div class="md-block" flex ng-controller="TipoController">
                                            <center>
                                                <button ng-click="modificarTipo(editTipo)"
                                                        type="submit" class="btn btn-success"
                                                        ng-disabled="updateTipo.$invalid" style="margin-top: 5%;">Modificar</button>
                                            </center>                                    
                                        </div>
                                    </form>
                                </md-content>
                            </div>
                        </md-content>
                    </md-tab>
                    <md-tab label="Agregar nuevo Tipo de producto">
                        <md-content class="md-padding" layout="row">
                            <div flex="20"></div>
                            <div flex="60">
                                <form name="nuevoTipo" class="form-horizontal">
                                    <md-input-container class="md-block md-icon" flex>
                                        <label>Nombre tipo de producto</label>
                                        <md-icon class="material-icons">&#xE150;</md-icon>
                                        <input type="text"
                                               maxlength="20"
                                               md-maxlength="20"
                                               minlength="4"
                                               placeholder="Ingrese nombre del tipo de producto"
                                               ng-model="_tipo.nombreTipo" name="tipo" required/>
                                        <!-- MENSAJES-->
                                        <div ng-messages="nuevoTipo.tipo.$error"
                                             ng-if='nuevoTipo.tipo.$dirty || nuevoTipo.tipo.$touched'>
                                            <div ng-message="minlength">Nombre demasiado corto.</div>
                                            <div ng-message="md-maxlength">Nombre demasiado largo.</div>
                                            <div ng-message="required">Este campo no puede estar vacio.</div>
                                        </div>
                                        <!-- ICONOS DE MENSAJE-->
                                        <span ng-show="nuevoTipo.tipo.$dirty && nuevoTipo.tipo.$valid" class="glyphicon glyphicon-ok form-control-feedback" ></span>
                                        <span ng-show="nuevoTipo.tipo.$dirty && nuevoTipo.tipo.$invalid" class="glyphicon glyphicon-remove  form-control-feedback"></span>
                                    </md-input-container>
                                    <div class="md-block" flex>
                                        <center>
                                            <button ng-click="agregarTipo(_tipo)"
                                                    type="submit" class="btn btn-success"
                                                    ng-disabled="nuevoTipo.$invalid" style="margin-top: 5%;">Agregar</button>
                                        </center>                                    
                                    </div>
                                </form>
                            </div>   
                        </md-content>
                    </md-tab>
                </md-tabs>                    
            </md-content>
        </div>
    </div>
</div>