<!DOCTYPE html>

<div class="col-lg-12">
    <div layout="column" ng-cloak  md-theme="docs-dark" class="distribucion-panel">
        <md-toolbar class="md-warn">
            <div class="md-toolbar-tools">
                <h3 class="md-flex" style="width:100%; text-align: center;">
                    Lista de usuarios
                </h3>
            </div>
        </md-toolbar>
        <md-content flex layout-padding>
            <div class="table-responsive">
                <table class="table table-hover table-striped light-table"
                       ng-show="usuarios[0]" data-ng-init="listaUsuarios()"
                       ng-table="tableUsuarios"
                       style="background-color: white;">
                    <thead id="headTableProductos">
                        <tr>
                            <th>ID</th>
                            <th>Nombre y Apellido</th>
                            <th>Rol</th>
                            <th>Sucursal</th>
                            <th>E-mail</th>
                            <th>Telefono</th>
                            <th>Domicilio Particular</th>                
                            <th>Ultima conexion</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tr ng-repeat="usuario in $data">
                        <td>{{usuario.idUsuario}}</td>
                        <td>{{usuario.nombre}} {{usuario.apellido}}</td>
                        <td style="font-size: smaller;">{{::usuario.roles.nombreRol}}</td>
                        <td style="font-size: smaller;">{{::usuario.usuarioSucursal.nombreSucursal}}</td>
                        <td>{{usuario.email}}</td>
                        <td>{{usuario.telefono}}</td>
                        <td>{{usuario.domicilio}}</td>
                        <td style="text-align: center;">
                            <div style="font-size: smaller">{{usuario.ultimaConexion| date: 'medium'}}</div>
                            <div ng-hide="usuario.ultimaConexion">NUNCA</div>
                        </td>
                        <td style="text-align: center;">
                            <div ng-show="{{::usuario.estado}}">ACTIVO</div>
                            <div ng-hide="{{::usuario.estado}}">INACTIVO</div>
                        </td>
                        <td>
                    <center>
                        <button type="button"
                                ng-hide="usuario.estado"
                                class="btn btn-success btn-xs"
                                ng-click="cambiarEstado(usuario)">
                            <span class="glyphicon glyphicon-check"></span>
                        </button>
                        <button type="button"
                                ng-show="usuario.estado"
                                class="btn btn-danger btn-xs"
                                ng-click="cambiarEstado(usuario)">
                            <span class="glyphicon glyphicon-remove-sign"></span>
                        </button>
                        <button type="button"
                                ng-click="cambiarSucursal($event, usuario)"
                                class="btn btn-success btn-xs">
                            <span class="glyphicon glyphicon-user"></span>
                        </button>
                        <button type="button"
                                ng-click="cambiarRol($vent, usuario);"
                                class="btn btn-success btn-xs">
                            <span class="glyphicon glyphicon-flag"></span>
                        </button>                        
                    </center>
                    </td>
                    </tr>
                </table>
            </div>
        </md-content>
    </div>
</div>
