<!DOCTYPE html>
<div layout="column"
     layout-margin
     layout-xs="column">
    <md-content layout="column" layout-xs="column"
                flex layout-padding md-theme="docs-dark">
        <form name="registrarUsuarios">
            <div layout="row">
                <md-input-container class="md-icon md-block" flex>
                    <label>Nombre</label>
                    <md-icon class="material-icons">&#xE8A6;</md-icon>
                    <input minlength="4"
                           md-maxlength="20"
                           maxlength="25"
                           ng-model="vm.user.nombre"
                           name="nombre" required placeholder="Nombre"/>
                    <!-- MENSAJES-->
                    <div ng-messages="registrarUsuarios.nombre.$error"
                         ng-if='registrarUsuarios.nombre.$dirty || registrarUsuarios.nombre.$touched'>
                        <div ng-message="minlength">Nombre demasiado corto.</div>
                        <div ng-message="md-maxlength">Nombre demasiado largo.</div>
                        <div ng-message="required">Este campo no puede estar vacio.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-icon md-block" flex>
                    <!-- LABEL TELEFONO-->
                    <label>Telefono</label>
                    <md-icon class="material-icons">&#xE0CD;</md-icon>
                    <!-- INPUT TELEFONO-->
                    <input type="tel"
                           maxlength="10"
                           md-maxlength="10"
                           placeholder="Telefono"
                           ng-model="vm.user.telefono" name="telefono" required/>
                    <!-- MENSAJES-->
                    <div ng-messages="registrarUsuarios.telefono.$error"
                         ng-if='registrarUsuarios.telefono.$dirty || registrarUsuarios.telefono.$touched'>
                        <div ng-message="tel">Número de telefono invalido.</div>
                        <div ng-message="md-maxlenght">Número de telefono demasiado largo.</div>
                        <div ng-message="required">Este campo no puede estar vacio.</div>                            
                    </div>
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container class="md-icon md-block" flex>
                    <label>Apellido</label>
                    <md-icon class="material-icons">&#xE8A6;</md-icon>
                    <!-- INPUT APELLIDO-->
                    <input type="text" 
                           minlength="4" 
                           md-maxlength="20"
                           maxlength="25"
                           placeholder="Apellido"
                           ng-model="vm.user.apellido" name="apellido" required/>
                    <!-- MENSAJES-->
                    <div ng-messages="registrarUsuarios.apellido.$error"
                         ng-if='registrarUsuarios.apellido.$dirty || registrarUsuarios.apellido.$touched'>
                        <div ng-message="minlength">Apellido demasiado corto.</div>
                        <div ng-message="md-maxlength">Apellido demasiado largo.</div>
                        <div ng-message="required">Este campo no puede estar vacio.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-icon md-block" flex>
                    <!-- LABEL EMAIL-->
                    <label>E-mail</label>
                    <md-icon class="material-icons">&#xE0BE;</md-icon>
                    <!-- INPUT EMAIL-->
                    <input type="email"
                           ng-minlength="8" 
                           md-maxlength="35"
                           maxlength="40"
                           placeholder="E-mail"
                           ng-model="vm.user.email" name="email" required/>
                    <!-- MENSAJES-->
                    <div ng-messages="registrarUsuarios.email.$error"
                         ng-if='registrarUsuarios.email.$dirty || registrarUsuarios.email.$touched'>
                        <div ng-message="email">Dirección de e-mail invalida.</div>
                        <div ng-message="minlength">Dirección de e-mail demasiado corta.</div>
                        <div ng-message="md-maxlength">Dirección de e-mail demasiado larga.</div>
                        <div ng-message="required">Este campo no puede estar vacio.</div>                            
                    </div>
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container class="md-icon md-block" flex>
                    <!-- LABEL DNI-->
                    <label>D.N.I.</label>
                    <md-icon class="material-icons">&#xE90D;</md-icon>
                    <!-- INPUT DNI-->
                    <input type="text" 
                           minlength="4" 
                           md-maxlength="8"
                           maxlength="8"
                           placeholder="D.N.I."
                           ng-model="vm.user.dni" name="dni" required/>
                    <!-- MENSAJES -->
                    <div ng-messages="registrarUsuarios.dni.$error"
                         ng-if='registrarUsuarios.dni.$dirty || registrarUsuarios.dni.$touched'>
                        <div ng-message="required">Este campo no puede estar vacio.</div>
                    </div>
                </md-input-container>
                <div layout="row" flex>
                    <md-input-container class="md-icon md-block" flex>
                        <!-- LABEL USERNAME-->
                        <label>Username</label>
                        <md-icon class="material-icons">&#xE7FD;</md-icon>
                        <!-- INPUT EMAIL-->
                        <input type="text"
                               ng-minlength="8" 
                               md-maxlength="35"
                               maxlength="40"
                               placeholder="Username"
                               ng-model="vm.user.username" name="username" required/>
                        <!-- MENSAJES-->
                        <div ng-messages="registrarUsuarios.username.$error"
                             ng-if='registrarUsuarios.username.$dirty || registrarUsuarios.username.$touched'>
                            <div ng-message="minlength">El nombre de usuario es demasiado corto.</div>
                            <div ng-message="md-maxlength">El nombre de usuario es demasiado largo.</div>
                            <div ng-message="required">Este campo no puede estar vacio.</div>                            
                        </div>
                    </md-input-container>
                    <md-input-container class="md-icon md-block" flex>
                        <label>Contraseña</label>
                        <md-icon class="material-icons">&#xE0DA;</md-icon>
                        <input type="password"
                               md-maxlength="15"
                               maxlenght="15"
                               ng-minlength="8"
                               ng-pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$"
                               pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$"
                               placeholder="Contraseña"
                               ng-model="vm.user.password" name="password" required/>
                        <!-- MENSAJES-->
                        <div ng-messages="registrarUsuarios.password.$error"
                             ng-if='registrarUsuarios.password.$dirty || registrarUsuarios.password.$touched'>
                            <div ng-message="pattern">La contraseña debe contener al menos una mayuscula, una minuscula y un número.</div>
                            <div ng-message="minlength">Contraseña demasiado corta.</div>
                            <div ng-message="md-maxlength">Contraseña demasiado larga.</div>
                            <div ng-message="required">Este campo no puede estar vacio.</div>                            
                        </div>
                    </md-input-container>
                </div>
            </div>
            <div layout="row">
                <md-input-container class="md-icon md-block" flex>
                    <!-- LABEL DOMICILIO-->
                    <label>Domicilio</label>
                    <md-icon class="material-icons">&#xE88A;</md-icon>
                    <!-- INPUT DOMICILIO-->
                    <input type="text"
                           minlength="8" 
                           md-maxlength="25"
                           placeholder="Domicilio"
                           ng-model="vm.user.domicilio" name="domicilio" required/>
                    <!-- MENSAJES-->
                    <div ng-messages="registrarUsuarios.domicilio.$error"
                         ng-if='registrarUsuarios.domicilio.$dirty || registrarUsuarios.domicilio.$touched'>
                        <div ng-message="minlength">Dirección de domicilio demasiado corta.</div>
                        <div ng-message="md-maxlength">Dirección de domicilio demasiado larga.</div>
                        <div ng-message="required">Este campo no puede estar vacio.</div>                            
                    </div>
                </md-input-container>
                <md-input-container class="md-icon md-block" flex data-ng-init="vm.listaRoles()">
                    <label>Rol</label>
                    <md-icon class="material-icons">&#xE7EF;</md-icon>
                    <md-select ng-model="vm.user.roles"
                               required name="rol">                                            
                        <md-option ng-value="rol" 
                                   ng-repeat="rol in roles">{{rol.nombreRol}}</md-option>                                            
                    </md-select>
                    <!-- MENSAJES-->
                    <div ng-messages="registrarUsuarios.rol.$error"
                         ng-if='registrarUsuarios.rol.$dirty || registrarUsuarios.rol.$touched'>
                        <div ng-message="required">Este campo no puede estar vacio.</div>
                    </div>
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container class="md-icon md-block" flex>
                    <!-- LABEL FECHA-->
                    <label>Fecha de nacimiento</label>
                    <md-icon class="material-icons">&#xE916;</md-icon>
                    <!-- INPUT FECHA-->
                    <input ng-model="vm.user.fechaNacimiento"
                           name="nacimiento" id="nacimientoDate"
                           min="1950-01-01"
                           type="date" placeholder="Fecha de nacimiento"
                           required ng-pattern="/^([0-9]{4})+([-]{1})+([0-9]{2})+([-]{1})+([0-9]{2})$/">
                    <!-- MENSAJES-->
                    <div ng-messages="registrarUsuarios.nacimiento.$error"
                         ng-if='registrarUsuarios.nacimiento.$dirty || registrarUsuarios.nacimiento.$touched'>
                        <div ng-message="date">Fecha de nacimiento invalida.</div>
                        <div ng-message="min">Fecha de nacimiento minima 01-01-1950.</div>                            
                        <div ng-message="max">Fecha de nacimiento maxima hoy.</div>   
                        <div ng-message="required">Este campo no puede estar vacio.</div>                            
                    </div>
                </md-input-container>
                <md-input-container class="md-icon md-block" flex data-ng-init="vm.listaSucursales()">
                    <label>Sucursal</label>
                    <md-icon class="material-icons">&#xE7F1;</md-icon>
                    <md-select ng-model="vm.user.usuarioSucursal"
                               required name="sucursal">                                            
                        <md-option ng-value="sucursal"
                                   ng-repeat="sucursal in sucursales">{{sucursal.nombreSucursal}}</md-option>                                            
                    </md-select>
                    <!-- MENSAJES-->
                    <div ng-messages="registrarUsuarios.sucursal.$error"
                         ng-if='registrarUsuarios.sucursal.$dirty || registrarUsuarios.sucursal.$touched'>
                        <div ng-message="required">Este campo no puede estar vacio.</div>
                    </div>
                </md-input-container>
            </div>
            <!-- BOTON AGREGAR USUARIO-->
            <button class="btn btn-success"
                    type="submit" style="float: right; margin-right: 35px; margin-bottom: 15px; margin-top: -5px;"
                    ng-click="vm.nuevoUsuario(vm.user)"
                    ng-disabled="registrarUsuario.$invalid">Registrar</button>
            <!-- FIN BOTON AGREGAR USUARIO-->
        </form>
    </md-content>
</div>
<script>
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1; //Enero es 0!
    var yyyy = today.getFullYear();
    if (dd < 10) {
        dd = '0' + dd;
    }
    if (mm < 10) {
        mm = '0' + mm;
    }

    today = yyyy + '-' + mm + '-' + dd;
    document.getElementById("nacimientoDate").setAttribute("max", today);
</script>
<style>
    .layout-lg-row>.flex, .layout-row>.flex {
        min-width: 0;
        max-width: 639px !important;
    }
</style>
