<!DOCTYPE html>
<div layout="row"
     layout-align="center"
     layout-xs="row">
    <div layout="column"
         layout-xs="column"
         flex-lg="70"
         flex-md="90"
         ng-cloak data-ng-init="vm.detailUsuario()"
         ng-show="vm.user.nombre">
        <md-toolbar class="md-accent" md-theme="docs-dark">
            <div class="md-toolbar-tools">
                <h4 class="md-flex" style="width:100%;"># {{vm.user.idUsuario}}: {{vm.user.username}}
                    <a href='' ui-sref="modificar-perfil" style="float: right; color: inherit;">Editar</a>
                </h4>
            </div>
        </md-toolbar>
        <md-content flex layout-padding md-theme="docs-dark">
            <div layout="row" flex>                
                <form layout="row" flex>
                    <div flex style="align-content: center;">
                        <div layout="row" flex class="padd">
                            <label flex="40">Nombre</label>                
                            <div flex>{{vm.user.nombre}}</div>
                        </div>
                        <div layout="row" flex class="padd">
                            <label flex="40">Apellido</label>                
                            <div flex>{{vm.user.apellido}}</div>
                        </div>
                        <div layout="row" flex class="padd">
                            <label flex="40">D.N.I.</label>                
                            <div flex>{{vm.user.dni|number:0}}</div>
                        </div>
                        <div layout="row" flex class="padd">
                            <label flex="40">Fecha de nac.</label>                
                            <div flex>{{vm.user.fechaNacimiento| date: 'fullDate'}}</div>
                        </div>
                        <div layout="row" flex class="padd">
                            <label flex="40">Email</label>
                            <div flex>{{vm.user.email}}</div>
                        </div>
                        <div layout="row" flex class="padd">
                            <label flex="40">Télefono</label>
                            <div flex>{{vm.user.telefono|tel}}</div>
                        </div>
                        <div layout="row" flex class="padd">
                            <label flex="40">Rol</label>
                            <div flex>{{vm.user.roles.nombreRol}}</div>
                        </div>
                        <div layout="row" flex class="padd">
                            <label flex="40">Estado</label>
                            <div flex ng-if="vm.user.estado === true">Activo</div>
                            <div flex ng-if="vm.user.estado === false">Inactivo</div>
                        </div>
                        <div layout="row" flex class="padd">
                            <label flex="40">Sucursal</label>
                            <div flex>{{vm.user.usuarioSucursal.nombreSucursal}}</div>
                        </div>
                    </div>
                </form>
                <div flex="40" class="md-padding" style="text-align: center;">
                    <img ng-src="data:image/JPEG;base64,{{vm.user.imagen}}"
                         style="max-height: 300px; max-width: 250px;">
                </div>
            </div>
        </md-content>
    </div>
</div>