@font-face {
    font-family: "Pablo Std";
    src: url("Pablo.ttf") format('truetype');
}
#tituloInicio{
    font-family: "Pablo Std";
    font-size: 50pt;
    text-shadow: 2px 0 0 #fff;
}
#loading-bar .bar {
    background: #fb6b8c !important;
    height: 5px !important;
}
#loading-bar-spinner .spinner-icon {
    width: 30px;
    height: 30px;
    margin-top: 7px;
    border:  solid 4px transparent;
    border-top-color:  #fb6b8c;
    border-left-color: #fb6b8c;
    border-radius: 50%;
}
#nav-titulo{
    font-family:  "Pablo Std" !important;
    font-size: 40pt;
    color: inherit;
    text-shadow: 2px 0 0 black;
    /*text-shadow: 2px 0 0 #8904B1;*/
    width: 100%;
}
.light-table{
    background-color: white;
    color: black;
}
#headTableProductos{
    background:black; 
    color: white;
    text-align: center;
}
.ng-table-counts{
    display: none !important;
}
#chart2{
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
    padding-left: 0px !important;
}
#chart1{
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
    padding-left: 0px;
}
/*Evita que se muestren las llaves al cargar el HTML*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
.disabled {
    cursor: not-allowed;
    pointer-events: none;
}
.distribucion-panel{
    /*margin-top: 20px;*/
    min-height: 598px;
    /*height: fit-content;*/
    background-color: white;
    /*border: 2px solid #8a6d3b;*/
}
.etiqueta{
    font-family: monospace;
    font-size: medium; 
    color: #000;
}
.etiqueta-box{
    width: 40%;
    background-color: white;
    text-align: center;
    align-content: center;
    margin-top: 10%; 
    border-radius: 25px;
    border: 2px dotted black;
}
.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
    transition:all linear 0.5s;
    backface-visibility: hidden;

}
.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
    opacity:0;
    max-height:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
    opacity:1;
    max-height:30px;
}
.pagination {
    margin: 0px 0 !important;
}
.ng-table-pager{
    text-align: center !important;
}
.padd{
    margin-top: 10px;
    margin-bottom: 10px;
}
md-backdrop.md-opaque.md-header-theme, md-backdrop.md-opaque {
    /*OVERLAY
    /*background-color: rgba(33,33,33,0);*/ 
    background-color: rgba(74, 11, 144, 1);
}
md-backdrop.md-opaque.md-modal-theme, md-backdrop.md-opaque {
    /*OVERLAY    
    /*background-color: rgba(74, 11, 144, 1);*/
}
md-dialog.md-transition-in {
    /*border: 2px solid purple;*/
}
md-tooltip {
    font-size: 10pt;
}
.table{
    margin-bottom: 10px;
}

.cfp-hotkeys-key{
    box-shadow: none;
    text-transform: capitalize;
}
.cfp-hotkeys-keys{
    padding: 2px;
}
.cfp-hotkeys-container{
    background: rgba(74, 11, 144, 0.7) !important;
    color: white;
    font-size: 0.9em;
}
.cfp-hotkeys-text{
    color:white;
}
.cfp-hotkeys-close:hover {
    background-color: transparent;
}
.cfp-hotkeys-close{
    border: none;
}
/*ESTILOS ENCABEZADO*/
.title-page{
    top: 5px;
    font-family: inherit;
    color: white;
    font-size: large;
    position: absolute;
    width: 100%;
    transition: all linear 0.5s;
}
md-icon.md-header-theme {
    color: inherit;
}
md-menu-content.md-header-theme md-menu-item md-icon {
    color: rgba(255,255,255,1);
}
.quit{
    background-color: transparent;
    border-color: transparent;
    top: 5px;
    right: 0;
    position: absolute;
}
.settingbtn{
    background-color: transparent;
    border-color: transparent;
    top: 5px;
    right: 30px;
    position: absolute;
}
.homebtn{
    background-color: transparent;
    border-color: transparent;
    top: 5px;
    right: 60px;
    position: absolute;
}
.update{
    background-color: transparent;
    border-color: transparent;
    top: 5px;
    right: 90px;
    position: absolute;
}
.back{
    background-color: transparent;
    border-color: transparent;
    top: 5px;
    right: 120px;
    position: absolute;
}