@font-face{
    font-family: kaufmann-bold;
    font-style: normal;
    font-weight: 400;
    src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v7/Q_Z9mv4hySLTMoMjnk_rCfesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
}
#tituloInicio{
    font-family: kaufmann-bold;
    font-size: 50pt;
    text-shadow: 2px 0 0 #fff;
}
#loading-bar .bar {
    background: #fb6b8c !important;
    height: 5px !important;
}
#loading-bar-spinner .spinner-icon {
    width: 30px;
    height: 30px;
    margin-top: 7px;
    border:  solid 4px transparent;
    border-top-color:  #fb6b8c;
    border-left-color: #fb6b8c;
    border-radius: 50%;
}
#nav-titulo{
    font-family: kaufmann-bold !important;
    font-size: 30pt;
    color: #fb6b8c;
    text-shadow: 2px 0 0 white;
    /*text-shadow: 2px 0 0 #8904B1;*/
    width: 100%;
}
.light-table{
    background-color: white;
    color: black;
}
#headTableProductos{
    background:black; 
    color: white;
    text-align: center;
}
.ng-table-counts{
    display: none !important;
}
#chart2{
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
    padding-left: 0px !important;
}
#chart1{
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
    padding-left: 0px;
}
/*Evita que se muestren las llaves al cargar el HTML*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
.disabled {
    cursor: not-allowed;
    pointer-events: none;
}
.distribucion-panel{
    /*margin-top: 20px;*/
    min-height: 598px;
    /*height: fit-content;*/
    background-color: white;
    /*border: 2px solid #8a6d3b;*/
}
.etiqueta{
    font-family: monospace;
    font-size: large; 
    color: #000;
}
.etiqueta-box{
    width: 40%;
    background-color: white;
    text-align: center;
    align-content: center;
    margin-top: 10%; 
    border-radius: 25px;
    border: 2px dotted black;
}
.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
   transition:all linear 0.5s;
   backface-visibility: hidden;
    
}
.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
    opacity:0;
    max-height:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
    opacity:1;
    max-height:30px;
}
.highlighted { background: yellow }
.pagination {
    margin: 0px 0 !important;
}
.ng-table-pager{
    text-align: center !important;
}
.padd{
    margin-top: 10px;
    margin-bottom: 10px;
}
md-backdrop.md-opaque.md-default-theme, md-backdrop.md-opaque {
     /*background-color: rgba(33,33,33,0);*/ 
     background-color: rgba(74, 11, 144, 1);
}
md-dialog.md-transition-in {
    border: 2px solid purple;
}
md-tooltip {
    font-size: 10pt;
}
md-toast.md-error-toast-theme div.md-toast-content{
    color: white !important;
    background-color: red !important;
}

md-toast.md-success-toast-theme div.md-toast-content{
    color: white !important;
    background-color: green !important;
}
.popover{
    padding: 0;
    border: none;
}
.popover-content{
    padding: 0px;
}
.table{
    margin-bottom: 10px;
}